<!-- 顶部功能按钮Begin -->
<ng-template #btnArea>
  <button nz-button nzType="default" class="mr20" (click)="back()">返回</button>
</ng-template>
<!-- 顶部功能按钮End -->

<!-- 表单区域Begin -->
<nz-card nzTitle="库存明细" [nzExtra]="btnArea">
  <nz-skeleton [nzActive]="isLoading" *ngIf="isLoading"></nz-skeleton>
  <nz-card *ngIf="!isLoading">
    <div nz-row nzType="flex">
      <div nz-col nzSpan="12">
        <nz-form-item nzFlex>
          <nz-form-label>物品类别</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="goodsRepertoryInfo.goodCategory"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item nzFlex>
          <nz-form-label>物品名称</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="goodsRepertoryInfo.goodName"
              id="whInId"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item nzFlex>
          <nz-form-label>规格型号</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="goodsRepertoryInfo.model"
              id="inDate"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item nzFlex>
          <nz-form-label>计量单位</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              [ngModel]="goodsRepertoryInfo.unit"
              id="inSource"
              readonly
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item nzFlex>
          <nz-form-label nzFor="inComment">备注</nz-form-label>
          <nz-form-control>
            <textarea
              rows="2"
              nz-input
              [ngModel]="goodsRepertoryInfo.comment"
              id="inComment"
              readonly
            ></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-card>

  <nz-table
    #goodsTable
    [nzData]="goodsRepertoryInfo.inventoryInfo"
    [nzHideOnSinglePage]="true"
    nzBordered
    [nzFrontPagination]="false"
  >
    <thead>
      <tr>
        <th class="tac">入库批次</th>
        <th class="tac">入库时间</th>
        <th class="tac">部门</th>
        <th class="tac">库房</th>
        <th class="tac">数量</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of goodsTable.data; let num = index">
        <td class="maxW50 tac">{{ data?.batchNum }}</td>
        <td class="maxW50 tac">
          {{ data?.inDate | date: "yyyy-MM-dd HH:mm:ss" }}
        </td>
        <td class="maxW50 tac">{{ data?.dept }}</td>
        <td class="maxW150 tac">{{ data?.warehousName }}</td>
        <td class="maxW150 tac">{{ data?.Num }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<!-- 表单区域End -->
