<ng-template #btnAdd>
  <button nz-button nzType="primary">添加</button>
</ng-template>

<!-- 表格查询条件Begin -->
<ng-template #serchArea>
  <form nz-form>
    <div nz-row nzType="flex">
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label>入库日期</nz-form-label>
          <nz-form-control>
            <nz-range-picker
              name="date"
              style="width:250px"
              [(ngModel)]="selectedDates"
              (ngModelChange)="onRangerPickerChange($event)"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nzFor="whInId">库房</nz-form-label>
          <nz-form-control>
            <nz-select
              nzPlaceHolder="请选择"
              [(ngModel)]="reqObj.whId"
              style="width:150px"
              nzAllowClear
              name="whInId"
            >
              <nz-option
                *ngFor="let storehouse of storehouseList"
                [nzLabel]="storehouse.name"
                [nzValue]="storehouse.id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nzFor="whGoodsId">物品</nz-form-label>
          <nz-form-control>
            <nz-select
              nzShowSearch
              nzAllowClear
              style="width:150px"
              nzPlaceHolder="请选择"
              [(ngModel)]="reqObj.whGoodsId"
              name="whGoodsId"
              id="whGoodsId"
            >
              <nz-option
                *ngFor="let goods of goodsList"
                [nzLabel]="goods.name"
                [nzValue]="goods.id"
              ></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nzFor="operator">操作人</nz-form-label>
          <nz-form-control>
            <input
              nz-input
              name="old"
              id="old"
              style="width:120px"
              [(ngModel)]="reqObj.operator"
              placeholder="检索入库操作人"
            />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col>
        <nz-form-item>
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              (click)="updateList(true)"
              style="margin-left: 10px;"
            >
              查询
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
<!-- 表格查询条件End -->

<nz-table
  #ajaxTable
  nzBordered
  nzShowSizeChanger
  [nzTitle]="serchArea"
  [nzFrontPagination]="false"
  [nzLoading]="isTableLoading"
  [nzData]="list"
  [nzTotal]="page.total"
  [(nzPageIndex)]="page.index"
  [(nzPageSize)]="page.size"
  (nzPageIndexChange)="updateList()"
  (nzPageSizeChange)="updateList(true)"
  [nzShowTotal]="totalTemplate"
  [nzScroll]="{ x: '1000px' }"
>
  <thead>
    <tr>
      <th class="textCenter" nzWidth="150px" nzLeft="0px">物品</th>
      <th class="textCenter">单号</th>
      <th class="textCenter">批次号</th>
      <th class="textCenter">库房</th>
      <th class="textCenter">时间</th>
      <th class="textCenter">数量</th>
      <th class="textCenter">操作人</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td class="textCenter" nzWidth="150px" nzLeft="0px">{{ data?.name }}</td>
      <td class="textCenter">{{ data?.inId }}</td>
      <td class="textCenter">{{ data?.batchNum }}</td>
      <td class="textCenter">{{ data?.inWhName }}</td>
      <td class="textCenter">{{ data?.inDate }}</td>
      <td class="textCenter">{{ data?.inNum }}</td>
      <td class="textCenter">{{ data?.operator }}</td>
    </tr>
  </tbody>
</nz-table>
<ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
