.updateConfiguration div {
    display: inline-block;
    margin-left: 10px;
}

.updateConfiguration label {
    width: 74px;
}

.cardStyle {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}

.showCardsStyle {
    border-top: 1px solid #ccc;
    margin-top: 10px;
    padding-top: 10px;
}

.updateContigurationWidth {
    width: 86px;
}


.updateConfiguration div {
    display: inline-block;
    margin-left: 10px;
}

.updateConfiguration label {
    width: 74px;
}
