<!-- 顶部功能按钮Begin -->
<ng-template #btnArea>
    <button nz-button nzType="default" class="mr20" (click)="back()">返回</button>
</ng-template>
<!-- 顶部功能按钮End -->

<!-- 表单区域Begin -->
<nz-card nzTitle="出库详情" [nzExtra]="btnArea">
    <nz-card nzType="inner">
        <form nz-form>
            <nz-form-item>
                <nz-form-label [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" nzRequired nzFor="sectionOfficeOutId">领用科室</nz-form-label>
                <nz-form-control [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                    <input nz-input name="sectionOfficeOutId" id="sectionOfficeOutId" class="form_input" maxlength="10" readonly [(ngModel)]="outDrug.allocatingPharmacy" />
                </nz-form-control>
            </nz-form-item>
            <!-- <nz-form-item>
                <nz-form-label [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" nzRequired nzFor="receiverName">领用人员</nz-form-label>
                <nz-form-control [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                    <input nz-input name="receiverName" id="receiverName" class="form_input" readonly [(ngModel)]="outDrug.receiverName" />
                </nz-form-control>
            </nz-form-item> -->
            <nz-form-item>
                <nz-form-label [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" nzFor="operator" nzRequired>经办人</nz-form-label>
                <nz-form-control [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                    <input nz-input name="operator" id="operator" class="form_input" readonly [(ngModel)]="outDrug.recorder" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" nzRequired nzFor="recDate">领用时间</nz-form-label>
                <nz-form-control [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                    <input nz-input name="recDate" id="recDate" class="form_input" readonly [(ngModel)]="outDrug.recDate" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" nzFor="outComment">备注</nz-form-label>
                <nz-form-control [nzMd]="10" [nzLg]="10" [nzXl]="10" [nzXXl]="10">
                    <textarea rows="4" nz-input class="form_input" name="outComment" id="outComment" [(ngModel)]="outDrug.outComment" readonly></textarea>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-card>
    <nz-card class="mt10" nzType="inner" nzTitle="出库药品">
        <nz-table #drugTable [nzData]="outDrug.outMedDrugs" [nzHideOnSinglePage]="true">
            <thead>
                <tr>
                    <th class="textCenter">序号</th>
                    <th class="textCenter">批次号</th>
                    <th class="textCenter">药品名称</th>
                    <th class="textCenter">药品批号</th>
                    <th class="textCenter">剩余数量</th>
                    <th class="textCenter">出库数量</th>
                    <th class="textCenter">备注</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of drugTable.data; let num = index">
                    <td class="maxW50 tac textCenter">{{ num + 1 }}</td>
                    <td class="maxW50 tac textCenter">{{ data?.batchNum }}</td>
                    <td class="maxW150 tac textCenter">{{ data?.medDrug?.drugName }}</td>
                    <td class="maxW50 tac textCenter">{{ data?.mdBatchNum }}</td>
                    <td class="maxW150 tac textCenter">{{ data?.medDrug?.leftStock }}</td>
                    <td class="maxW150 tac textCenter">{{ data?.outNum }}</td>
                    <td class="maxW150 tac textCenter">{{ data?.comment }}</td>
                </tr>
            </tbody>
        </nz-table>
    </nz-card>

    <nz-card class="mt10" nzType="inner" nzTitle="签名">
        <nz-form-item>
            <nz-form-label [nzMd]="4" [nzLg]="4" [nzXl]="2" [nzXXl]="2" nzFor="operatorUrl">经办人</nz-form-label>
            <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
                <mirr-electronicSign [imgUrl]="outDrug.operatorUrl" [isShowSign]="false" #operatorSign>
                </mirr-electronicSign>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzMd]="4" [nzLg]="4" [nzXl]="2" [nzXXl]="2" nzFor="receiverUrl">领用人</nz-form-label>
            <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
                <mirr-electronicSign [imgUrl]="outDrug.receiverUrl" [isShowSign]="false" #receiverSign>
                </mirr-electronicSign>
            </nz-form-control>
        </nz-form-item>
    </nz-card>
</nz-card>
<!-- 表单区域End -->
