<!-- <ng-template #btnAdd>
  <button nz-button nzType="primary" (click)="turnToAdd()">添加</button>
</ng-template>
<nz-card nzTitle="部门列表" [nzExtra]="btnAdd">
  <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list"
    [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()"
    (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate">
    <thead>
      <tr>
        <th class="textCenter">所属部门</th>
        <th class="textCenter">部门名称</th>
        <th class="textCenter">备注</th>
        <th class="textCenter">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td class="textCenter">{{data.name}}</td>
        <td class="textCenter">{{data.name}}</td>
        <td class="textCenter">{{data.comment}}</td>
        <td class="textCenter">
          <a href="javascript:void(0)" (click)="turnToEdit(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:void(0)" (click)="delete(data.id)" style="color: #f81d22 !important;">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #totalTemplate let-total>共 {{total}} 条</ng-template>
 -->


<div nz-row nzGutter="16">
    <div nz-col nzMd="6" nzLg="6" nzXl="6" nzXXl="6">
      <ng-template #btnAdd>
        <button nz-button nzType="primary" (click)="turnToAdd()" *ngIf="addBtn==true" >添加</button>
      </ng-template>
      <nz-card nzTitle="部门管理" style="height: calc(100vh - 112px);overflow: auto;" >
        <nz-tree
          [(ngModel)]="nodes"
          nzShowLine="true"
          nzDefaultExpandAll="true"
          (nzClick)="nzEvent($event)"
          [nzDefaultExpandedKeys]="expandKeys"
        >
        </nz-tree>
      </nz-card>
    </div>
  
    <div nz-col nzMd="18" nzLg="18" nzXl="18" nzXXl="18" >
        <nz-card nzTitle="部门列表" [nzExtra]="btnAdd">
          <nz-table #ajaxTable  [nzLoading]="isTableLoading" [nzData]="list">
            <thead>
              <tr>
                <!-- <th class="textCenter">所属部门</th> -->
                <th class="textCenter">部门名称</th>
                <th class="textCenter">备注</th>
                <th class="textCenter">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of ajaxTable.data">
                <!-- <td class="textCenter">{{data.name}}</td> -->
                <td class="textCenter">{{data.name}}</td>
                <td class="textCenter">{{data.comment}}</td>
                <td class="textCenter">
                  <a href="javascript:void(0)" (click)="turnToEdit(data)">编辑</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a href="javascript:void(0)" (click)="delete(data.id)" style="color: #f81d22 !important;">删除</a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </nz-card>
          
    </div>
  </div>
  