<!-- 表格查询条件Begin -->
<!-- <ng-template #serchArea>
  <div nz-row nzType="flex">
    <div nz-col>
      <nz-form-item nzFlex>
        <nz-form-label>角色名</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            style="width:120px"
            [(ngModel)]="reqObj.name"
            placeholder="检索角色名"
          />
        </nz-form-control>
      </nz-form-item>
    </div> 
    <div nz-col>
      <nz-form-item nzFlex>
        <nz-form-control>
          <button
            nz-button
            nzType="primary"
            (click)="updateList(true)"
            style="margin-left: 10px;"
          >
            查询
          </button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</ng-template> -->
<!-- 表格查询条件End -->
<ng-template #btnAdd>
  <button nz-button nzType="primary" (click)="addAdministrative()">
    添加
  </button>
</ng-template>
<nz-card nzTitle="科室列表" [nzExtra]="btnAdd">
  <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list"
    [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()"
    (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate">
    <thead>
      <tr>
        <th class="textCenter">科室号</th>
        <th class="textCenter">科室名</th>
        <th class="textCenter">电话</th>
        <th class="textCenter">所属部门</th>
        <th class="textCenter">主管医生</th>
        <th class="textCenter">科室医生</th>
        <th class="textCenter">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td class="textCenter">{{ data?.number }}</td>
        <td class="textCenter">{{ data?.name }}</td>
        <td class="textCenter">{{ data?.phone }}</td>
        <td class="textCenter">{{ data?.departmentName }}</td>
        <td class="textCenter">{{ data?.governorNameStr }}</td>
        <td class="textCenter">{{ data?.doctorNameStr }}</td>
        <td class="textCenter">
          <a href="javascript:void(0)" roleBtnControll [roleBtnKey]="'EditMenuBtn'" (click)="editAdministrative(data,$event)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:void(0)" style="color: #f81d22 !important;" (click)="delete(data?.id)" roleBtnControll [roleBtnKey]="'delMenuBtn'">删除</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:void(0)" (click)="showGroupModel(data,1)" roleBtnControll [roleBtnKey]="'delMenuBtn'">分配主管</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:void(0)" (click)="showGroupModel(data,2)" roleBtnControll [roleBtnKey]="'delMenuBtn'">分配医生</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:void(0)" (click)="showOfficeModel(data)" roleBtnControll [roleBtnKey]="'delMenuBtn'">绑定部门</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>

<!-- 绑定部门弹框  -->
<nz-modal nzWidth="700" [(nzVisible)]="officeModel" nzTitle="绑定部门" (nzOnCancel)="officeModelCancel()" (nzOnOk)="officeModelOk()">
    <div>
      <p>选择部门：</p>
      <nz-select style="width: 100%" nzPlaceHolder="请选择" [(ngModel)]="selOffice">
        <nz-option *ngFor="let option of allOffice" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
      </nz-select>
    </div>
  </nz-modal>
  
  <!-- 分配主管、医生弹框  -->
  <nz-modal nzWidth="700" [(nzVisible)]="groupModel" [nzTitle]="kind == 1 ? '分配主管':'分配医生'" (nzOnCancel)="groupModelCancel()" (nzOnOk)="groupModelOk()">
    <div *ngIf="kind == 1">
      <p>选择主管：</p>
      <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择" [(ngModel)]="selGroup">
        <nz-option *ngFor="let option of allGroup" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
      </nz-select>
    </div>
    <div *ngIf="kind == 2">
      <p>选择医生：</p>
      <nz-select style="width: 100%" nzMode="multiple" nzPlaceHolder="请选择" [(ngModel)]="selGroup" (nzOpenChange)="changeDoctorSel()">
        <nz-option *ngFor="let option of allGroup" [nzLabel]="option.name" [nzValue]="option.id" [nzCustomContent]="!option.isTrans">
          <div *ngIf="!option.isTrans" style="position: relative;width: 628px;height: 22px;">
            <li class="prohibitSel" style="background:#ddd;position: absolute; width: 652px; height: 32px; left: -12px; top: -5px; padding-left: 12px; line-height: 32px; cursor: no-drop;z-index: 2000;opacity: 0.5;">{{option.name}}</li>
          </div>
        </nz-option>
      </nz-select>
    </div>
  </nz-modal>