td, th {
  text-align: center !important;
}

.red {
  color: #f81d22 !important;
}
nz-form-item {
  margin-bottom: 0px;
}

.ant-select-selection--single {
  height: 32px;
  position: relative;
  cursor: pointer;
}
.fireArea{
  width: 40%;
  display: inline-block;
}
.fireAreaM{
  margin-left: 10%
}
.labelStyle{
  margin-right: 10px;
  margin-left: 27px
}
.checkboxCheck label{
  width: 65px !important
}
.ant-modal-body{
  padding-bottom: 10px !important;
}
.ant-modal-wrap .ant-modal{
  width: 700px !important;
}
.xuncWInput{
  width: 70%;
  margin-left: 10px;
}
.emergencyExitInput{
  width: 20%;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.detailFireln{
  padding: 5px 3px;
  border-bottom: 1px solid #bfbfbf;
}
.fireinspectionWidt{
  width: 20%;
  margin-top: 10px;
  margin-right: 10px
}