<nz-card nzType="inner" nzTitle="基本信息" class="marginBottom24">
    <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">姓名</nz-form-label>
                <nz-form-control [nzSm]="16">
                    <input nz-input readonly [(ngModel)]="obj.name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">性别</nz-form-label>
                <nz-form-control [nzSm]="16">
                    <input nz-input readonly [(ngModel)]="obj.sex" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">年龄</nz-form-label>
                <nz-form-control [nzSm]="16">
                    <input nz-input readonly [(ngModel)]="obj.age" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">康复类型</nz-form-label>
                <nz-form-control [nzSm]="16">
                    <input nz-input readonly [(ngModel)]="obj.type" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">初期评估总分</nz-form-label>
                <nz-form-control [nzSm]="16">
                    <input nz-input readonly [(ngModel)]="obj.earlyScore" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSpan]="12">
            <nz-form-item>
                <nz-form-label [nzSpan]="8">中期评估总分</nz-form-label>
                <nz-form-control [nzSm]="16">
                    <input nz-input readonly [(ngModel)]="obj.midScore" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</nz-card>
<nz-card nzType="inner" nzTitle="康复计划详情" class="marginBottom24">
    <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list" [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="getGeneralViewPlan()" (nzPageSizeChange)="getGeneralViewPlan(true)" [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th class="textCenter">康复计划名称</th>
                <th class="textCenter">康复计划时间</th>
                <th class="textCenter">训练目标</th>
                <th class="textCenter">训练项目</th>
                <th class="textCenter">训练结果</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td class="textCenter">{{data?.name}}</td>
                <td class="textCenter">
                    <span *ngIf="data?.type=='季度'"> {{data?.startTime}} ~ {{data?.endTime}}</span>
                    <span *ngIf="data?.type=='月度'"> {{data?.month}}</span>
                    <span *ngIf="data?.type=='周'">{{data?.startTime}} ~ {{data?.endTime}}</span>
                </td>
                <td class="textCenter">{{data?.target}}</td>
                <td class="textCenter">{{data?.project}}</td>
                <td class="textCenter">{{data?.plan}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate let-total>共{{page.total}}条</ng-template>
</nz-card>

<nz-card nzType="inner" nzTitle="训练记录详情" class="marginBottom24">
    <nz-table #ajaxTable1 nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="isTableLoading1" [nzData]="list1" [nzTotal]="page1.total" [(nzPageIndex)]="page1.index" [(nzPageSize)]="page1.size" (nzPageIndexChange)="getGeneralViewTrain()" (nzPageSizeChange)="getGeneralViewTrain(true)" [nzShowTotal]="totalTemplate1">
        <thead>
            <tr>
                <th class="textCenter">训练时间</th>
                <th class="textCenter">训练项目</th>
                <th class="textCenter">训练目标</th>
                <th class="textCenter">训练表现</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable1.data">
                <td class="textCenter">{{data?.time}}</td>
                <td class="textCenter">{{data?.childScope}}</td>
                <td class="textCenter">{{data?.target}}</td>
                <td class="textCenter">{{data?.perfermence}}</td>
            </tr>
        </tbody>
    </nz-table>
    <ng-template #totalTemplate1 let-total>共{{page1.total}}条</ng-template>
</nz-card>
