<!-- 表格查询条件Begin -->
<ng-template #serchArea>
    <form nz-form>
        <div nz-row nzType="flex">
            <div nz-col>
                <nz-form-item nzFlex>
                    <nz-form-label nzFor="sectionOfficeOutId">领用科室</nz-form-label>
                    <nz-form-control>
                        <nz-select nzAllowClear nzPlaceHolder="请选择" name="sectionOfficeOutId" class="form_input" style="width:150px;" id="sectionOfficeOutId" [(ngModel)]="reqObj.sectionOfficeOutId">
                            <nz-option *ngFor="let item of setionOfficeList" [nzLabel]="item?.name" [nzValue]="item?.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col>
                <nz-form-item nzFlex>
                    <nz-form-label nzFor="operator">操作员</nz-form-label>
                    <nz-form-control>
                        <input nz-input name="operator" id="operator" style="width:150px" [(ngModel)]="reqObj.operator" placeholder="请输入操作员" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col>
                <nz-form-item nzFlex>
                    <nz-form-label>领用日期</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker name="date" style="width:250px" [(ngModel)]="selectedDates" (ngModelChange)="onRangerPickerChange($event)"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div>
                <nz-form-item nzFlex>
                    <nz-form-control>
                        <button nz-button nzType="primary" (click)="updateList(true)" roleBtnControll [roleBtnKey]="'CheckBtn'" style="margin-left: 10px;">
                            查询
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>
<!-- 表格查询条件End -->

<nz-table #ajaxTable nzBordered nzShowSizeChanger [nzTitle]="serchArea" [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list" [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()"
    (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate" [nzScroll]="{ x: '1300px' }">
    <thead>
        <tr>
            <th class="textCenter" nzWidth="180px" nzLeft="0px">出库单号</th>
            <th class="textCenter">领用科室</th>
            <th class="textCenter">领用时间</th>
            <th class="textCenter">操作员</th>
            <th class="textCenter">备注</th>
            <th class="textCenter" nzWidth="100px" nzRight="0px">操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of ajaxTable.data">
            <td class="textCenter" nzWidth="180px" nzLeft="0px">{{ data?.outId }}</td>
            <td class="textCenter">{{ data?.sectionOfficeOut?.name }}</td>
            <td class="textCenter">{{ data?.recDate}}</td>
            <td class="textCenter">{{ data?.recorder}}</td>
            <td class="textCenter">{{ data?.outComment }}</td>
            <td class="textCenter" nzWidth="100px" nzRight="0px">
                <a href="javascript:void(0)" (click)="turnToCheck(data.id)">查看</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-total>共 {{ page.total }} 条</ng-template>