
<ng-template #serchArea>
    <form nz-form>
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSm]="24" [nzMd]="5" [nzLg]="5" [nzXl]="5" [nzXXl]="4">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSuffixIcon="anticon anticon-search">
                <input type="text" name="oldman_name" nz-input placeholder="请输入长者姓名" [(ngModel)]="queryParams.oldman_name">
              </nz-input-group>
            </nz-form-control>

          </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
            <nz-form-item>
                <nz-form-control>
                  <nz-input-group nzSuffixIcon="anticon anticon-search">
                    <input type="text" name="name" nz-input placeholder="按合同名称检索" [(ngModel)]="queryParams.name">
                  </nz-input-group>
                </nz-form-control>

              </nz-form-item>
          </div>
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6">签订日期</nz-form-label>
            <nz-form-control [nzXs]="19" [nzSm]="20" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXl]="18">
              <nz-range-picker name="date" [(ngModel)]="queryParams.date" (ngModelChange)="selDate(queryParams.date)"></nz-range-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSm]="4" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
          <nz-form-item>
            <nz-form-control>
              <button nz-button nzType="primary" (click)="loadingDataArray(true)">查询</button>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </ng-template>
  <!-- 表格查询条件End -->
<nz-card nzTitle="合同管理" [nzExtra]="extraTemplate">
  <nz-table #basicTable [nzData]="dataArray" [nzTitle]="serchArea"  [nzShowPagination]="true" [nzBordered]="'true'"  [nzLoading]="isTableLoading"
    [nzTotal]="resultData.totalElements" [(nzPageIndex)]="queryParams.page" [(nzPageSize)]="queryParams.size" (nzPageIndexChange)="loadingDataArray()"
    (nzPageSizeChange)="loadingDataArray(true)" [nzShowSizeChanger]="true" [nzFrontPagination]="false"  [nzShowTotal]="totalTit">
    <thead>
      <tr>
        <th>姓名</th>
        <th>合同</th>
        <th>签订日期</th>
        <th>生效日期</th>
        <th>失效日期</th>
        <th>更新时间</th>
        <th>记录人</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data?.oldman?.name}}</td>
        <td>{{data?.name}}</td>
        <td>{{data?.signDate | date:'yyyy-MM-dd'}}</td>
        <td>{{data?.effectDate | date:'yyyy-MM-dd'}}</td>
        <td>{{data?.invalidDate | date:'yyyy-MM-dd'}}</td>
        <td>{{data?.updateDate | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{data?.noteTaker}}</td>

        <td>
          <a href="#" (click)="showInfo(data, $event)">合同详情</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="#" (click)="delContract(data, $event)" class="red">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <a href="#" (click)="addInfo($event)">新增合同</a>
</ng-template>
<ng-template #totalTit>共&nbsp;{{resultData.totalElements}}&nbsp;条</ng-template>