<!-- 顶部功能按钮Begin -->
<ng-template #btnArea>
  <button nz-button nzType="default" class="mr20" (click)="back()">返回</button>
</ng-template>
<!-- 顶部功能按钮End -->

<!-- 表单区域Begin -->
<nz-card nzTitle="物品详情" [nzExtra]="btnArea">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label
        [nzMd]="4"
        [nzLg]="4"
        [nzXl]="2"
        [nzXXl]="2"
        nzRequired
        nzFor="categoryId"
        >物品类别</nz-form-label
      >
      <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
        <nz-tree-select
          class="form_input"
          [nzNodes]="goodsClassificationNodes"
          nzShowSearch
          [nzPlaceHolder]="goodsCategoryName"
          formControlName="categoryId"
        >
        </nz-tree-select>
        <nz-form-explain
          [hidden]="
            !(
              validateForm.get('categoryId').dirty &&
              validateForm.get('categoryId').errors
            )
          "
          >物品类别不能为空</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label
        [nzMd]="4"
        [nzLg]="4"
        [nzXl]="2"
        [nzXXl]="2"
        nzRequired
        nzFor="name"
        >物品名称</nz-form-label
      >
      <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
        <input
          class="form_input"
          nz-input
          formControlName="name"
          id="name"
          maxlength="15"
        />
        <nz-form-explain
          [hidden]="
            !(validateForm.get('name').dirty && validateForm.get('name').errors)
          "
          >物品名称不能为空</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzLg]="4" [nzXl]="2" [nzXXl]="2" nzFor="model"
        >规格型号</nz-form-label
      >
      <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
        <input class="form_input" nz-input formControlName="model" id="model" />
        <nz-form-explain
          [hidden]="
            !(
              validateForm.get('model').dirty &&
              validateForm.get('model').errors
            )
          "
          >物品名称不能为空</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzMd]="4" [nzLg]="4" [nzXl]="2" [nzXXl]="2" nzFor="unit"
        >计量单位</nz-form-label
      >
      <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
        <input class="form_input" nz-input formControlName="unit" id="unit" />
        <nz-form-explain
          [hidden]="
            !(validateForm.get('unit').dirty && validateForm.get('unit').errors)
          "
          >计量单位不能为空</nz-form-explain
        >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzMd]="4"
        [nzLg]="4"
        [nzXl]="2"
        [nzXXl]="2"
        nzFor="shelfLife"
        >保质期（天）</nz-form-label
      >
      <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
        <nz-input-number
          formControlName="shelfLife"
          id="shelfLife"
          [nzMin]="0"
          class="form_input"
        ></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzMd]="4"
        [nzLg]="4"
        [nzXl]="2"
        [nzXXl]="2"
        nzFor="comment"
        >备注</nz-form-label
      >
      <nz-form-control [nzMd]="12" [nzLg]="12" [nzXl]="14" [nzXXl]="14">
        <!-- <input nz-input formControlName="comment" id="comment"> -->

        <textarea
          rows="4"
          nz-input
          formControlName="comment"
          id="comment"
        ></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div style="text-align:center;margin-top: 30px;">
    <button
      class="saveBtn"
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="saveForm()"
      [nzLoading]="isBtnLoading"
    >
      保存
    </button>
  </div>
</nz-card>
<!-- 表单区域End -->
