<!-- 表格查询条件Begin -->
<ng-template #serchArea>
  <form nz-form>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6" style="margin-left: -10px">
        <nz-form-item>
          <nz-form-control>
              <nz-input-group nzSuffixIcon="anticon anticon-search">
                 <input type="text" name="oldman_name" nz-input placeholder="请输入长者姓名" [(ngModel)]="queryParams.name">
              </nz-input-group>
          </nz-form-control>
        </nz-form-item>

      </div>
      <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6">发现日期</nz-form-label>
          <nz-form-control [nzXs]="19" [nzSm]="20" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXl]="18">
            <nz-range-picker name="date" nzFormat="yyyy-MM-dd" [ngModel]="selectedDate" (ngModelChange)="onRangerPickerChange($event)"></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzXs]="6" [nzSm]="6" [nzMd]="6" [nzLg]="6" [nzXl]="6">转归状态</nz-form-label>
          <nz-form-control [nzXs]="19" [nzSm]="20" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXl]="18">
            <nz-select name="isDown" [(ngModel)]="queryParams.isDown" nzPlaceHolder="转归状态">
              <nz-option nzValue="0" nzLabel="全部"></nz-option>
              <nz-option nzValue="1" nzLabel="治愈中"></nz-option>
              <nz-option nzValue="2" nzLabel="已治愈"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="4" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="loadingDataArray(true)">查询</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>

<!-- 表格查询条件End -->
<nz-card nzTitle="压疮评估列表" [nzExtra]="extraTemplate">
  <nz-table #basicTable [nzData]="dataArray" [nzTitle]="serchArea" [nzShowPagination]="true" [nzBordered]="'true'"
    [nzLoading]="isTableLoading" [nzTotal]="resultData.totalElements"  [nzShowTotal]="totalTit" [(nzPageIndex)]="queryParams.page" [(nzPageSize)]="queryParams.size"
    (nzPageIndexChange)="loadingDataArray()" (nzPageSizeChange)="loadingDataArray(true)" [nzShowSizeChanger]="true" [nzFrontPagination]="false"
   >
    <thead>
      <tr>
        <th >姓名</th>
        <th >发生日期</th>
        <!-- <th nzWidth="100px">类别</th> -->
        <!-- <th nzWidth="100px">部位</th>
        <th nzWidth="100px">面积</th> -->
        <!-- <th nzWidth="100px">程度</th> -->
        <th>Braden评分</th>
        <th>评估人</th>
        <th>评估日期</th>
        <!-- <th nzWidth="100px">记录人</th> -->
        <!-- <th nzWidth="140px">更新日期</th> -->
        <th >转归状态</th>
        <th >操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td >{{data?.oldman?.name}}</td>
        <td>{{data?.findDate | date:'yyyy-MM-dd'}}</td>
        <!-- <td>{{data?.soretype}}</td> -->
        <!-- <td>{{data?.place}}</td>
        <td>{{data?.area}}</td> -->
        <!-- <td>{{data?.woundMemo}}</td> -->
        <td>{{data?.bradenScore | BradenLevel}}</td>
        <td>{{data?.reporter}}</td>
        <td>{{data?.reportDate | date:'yyyy-MM-dd'}}</td>
        <!-- <td>{{data?.modifier == null ? data?.noteTaker : data?.modifier}}</td> -->
        <!-- <td>{{data?.updateDate | date:'yyyy-MM-dd'}}</td> -->
        <td >{{data?.isDown ? "已治愈" : "治愈中"}}</td>
        <td >
          <a href="#" (click)="showInfo(data, $event)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="#" (click)="showDeleteConfirm(data.id, $event)" class="red">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <a href="#" (click)="showInfo(null,$event)">新发生</a>
</ng-template>
<ng-template #totalTit>共&nbsp;{{resultData.totalElements}}&nbsp;条</ng-template>
