<!-- 表格查询条件Begin -->
<ng-template #serchArea>
    <form nz-form>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8">姓名</nz-form-label>
                    <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                        <input nz-input [(ngModel)]="reqObj.name" name="name" placeholder="请输入姓名">
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="10" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="6" [nzLg]="5" [nzXl]="5">康复类型</nz-form-label>
                    <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                        <nz-select style="width: 100%;" name="type" [(ngModel)]="reqObj.type" nzAllowClear>
                            <nz-option nzValue="1" nzLabel="智力残疾"></nz-option>
                            <nz-option nzValue="2" nzLabel="肢体障碍"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSm]="4" [nzMd]="4" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button nzType="primary" (click)="updateList(true)">查询</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>
<!-- 表格查询条件End -->

<nz-card nzTitle="康复训练列表">
    <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzTitle]="serchArea" [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list" [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()" (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th class="textCenter">姓名</th>
                <th class="textCenter">性别</th>
                <th class="textCenter">年龄</th>
                <th class="textCenter">身份证号</th>
                <th class="textCenter">登记日期</th>
                <th class="textCenter">康复类型</th>
                <th class="textCenter">季度计划</th>
                <th class="textCenter">月度计划</th>
                <th class="textCenter">周计划</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td class="textCenter">{{data.name}}</td>
                <td class="textCenter">
                    <span *ngIf="data.sex=='0'">男</span>
                    <span *ngIf="data.sex=='1'">女</span>
                </td>
                <td class="textCenter">{{data.age}}</td>
                <td class="textCenter">{{data.idCard}}</td>
                <td class="textCenter">{{data.createTime}}</td>
                <td class="textCenter">
                    <span *ngIf="data.type=='1'">智力残疾</span>
                    <span *ngIf="data.type=='2'">肢体障碍</span>
                </td>
                <td class="textCenter">
                    <a href="#" (click)="toSeasonalPlan(data,$event)">开始制定</a>
                </td>
                <td class="textCenter">
                    <a href="#" (click)="toMonthPlan(data,$event)">开始制定</a>
                </td>
                <td class="textCenter">
                    <a href="#" (click)="toWeekPlan(data,$event)">开始制定</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #totalTemplate let-total>共{{total}}条</ng-template>
