<!-- 顶部添加按钮Begin -->
<ng-template #btnArea>
  <button
    nz-button
    nzType="primary"
    (click)="jumpPage('add', { id: '', state: 'add' })"
  >
    添加
  </button>
</ng-template>
<!-- 顶部添加按钮End -->

<!-- 表格查询条件Begin -->
<ng-template #serchArea>
  <form nz-form>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSm]="24" [nzMd]="4" [nzLg]="4" [nzXl]="4" [nzXXl]="4">
        <nz-form-item>
          <nz-form-control>
            <nz-input-group nzSuffixIcon="anticon anticon-search">
              <input
                type="text"
                name="oldman_name"
                nz-input
                placeholder="请输入长者姓名"
                [(ngModel)]="serValObj.name"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-form-item>
          <nz-form-label
            [nzSpan]="8"
            [nzXs]="8"
            [nzSm]="8"
            [nzMd]="8"
            [nzLg]="8"
            [nzXl]="8"
            >咨询日期</nz-form-label
          >
          <nz-form-control
            [nzXs]="16"
            [nzSm]="16"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXl]="16"
          >
            <nz-range-picker
              name="date"
              [(ngModel)]="serValObj.date"
              (ngModelChange)="selDate(serValObj.date)"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="8" [nzXXl]="8">
        <nz-form-item>
          <nz-form-label
            [nzSpan]="8"
            [nzXs]="8"
            [nzSm]="8"
            [nzMd]="8"
            [nzLg]="8"
            [nzXl]="8"
            >预计到访</nz-form-label
          >
          <nz-form-control
            [nzXs]="16"
            [nzSm]="16"
            [nzMd]="16"
            [nzLg]="16"
            [nzXl]="16"
            [nzXl]="16"
          >
            <nz-range-picker
              name="edate"
              [(ngModel)]="serValObj.eDate"
              (ngModelChange)="selEDate(serValObj.eDate)"
            ></nz-range-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="4" [nzMd]="2" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="serFun(true)">
              查询
            </button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
<!-- 表格查询条件End -->

<!-- 表格列表区域Begin -->
<nz-card nzTitle="咨询入住列表" [nzExtra]="btnArea">
  <nz-table
    #dataTemp
    nzShowSizeChanger
    [nzBordered]="true"
    [nzTitle]="serchArea"
    [nzShowTotal]="totalTit"
    [nzFrontPagination]="false"
    [(nzPageIndex)]="serValObj.page"
    [(nzTotal)]="serValObj.totalItem"
    [(nzPageSize)]="serValObj.size"
    [(nzData)]="dataList"
    (nzPageIndexChange)="serFun()"
    [nzLoading]="isTableLoading"
  >
    <thead>
      <tr>
        <th class="tac ftwB">姓名</th>
        <th class="tac ftwB">性别</th>
        <th class="tac ftwB">出生年月</th>
        <th class="tac ftwB">联系电话</th>
        <th class="tac ftwB">咨询日期</th>
        <th class="tac ftwB">预约方式</th>
        <th class="tac ftwB">预计到访</th>
        <th class="tac ftwB">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let x of dataTemp.data; let idx = index">
        <td class="tac">{{ x.name }}</td>
        <td class="tac">{{ x.sex }}</td>
        <td class="tac">{{ x.birthYearMonth }}</td>
        <td class="tac">{{ x.phone }}</td>
        <td class="tac">{{ x.consultingTime | date: "yyyy-MM-dd" }}</td>
        <td class="tac">
          <span *ngIf="x.consultingType == 1">微信咨询</span>
          <span *ngIf="x.consultingType == 2">电话咨询</span>
          <span *ngIf="x.consultingType == 3">来院咨询</span>
        </td>
        <td class="tac">{{ x.estimatedTime | date: "yyyy-MM-dd" }}</td>
        <td class="tac">
          <a
            href="javascript:void(0)"
            *ngIf="x.consultingType != 1"
            (click)="jumpPage('add', { id: x.id, state: 'edit' })"
            >编辑</a
          >
          <a
            href="javascript:void(0)"
            *ngIf="x.consultingType == 1 && x.attendant.length > 0"
            (click)="jumpPage('add', { id: x.id, state: 'detail' })"
            >查看</a
          >
          <a
            href="javascript:void(0)"
            *ngIf="x.consultingType == 1 && x.attendant.length == 0"
            (click)="jumpPage('add', { id: x.id, state: 'reception' })"
            >接待</a
          >
          <!--
            <nz-divider nzType="vertical"></nz-divider>
                 <a href="javascript:void(0)" (click)="jumpPage('add',{'id':x.id,state:'detail'})">查看</a>
          -->
          <nz-divider nzType="vertical"></nz-divider>
          <a
            href="javascript:void(0)"
            class="colorF00"
            (click)="clickDelBtn(x.id)"
            >删除</a
          >
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<!-- 表格列表区域End -->

<!-- 分页信息显示Begin -->
<ng-template #totalTit>共&nbsp;{{ serValObj.totalItem }}&nbsp;条</ng-template>
<!-- 分页信息显示End -->
