<ng-template #extraTemplate>
  <button nz-button nzType="default" (click)="back()">返回</button>
</ng-template>
<nz-card style="width: 100%;" nzTitle="入院登记详情" [nzExtra]="extraTemplate">
  <nz-card-tab>
    <nz-tabset nzSize="large" [(nzSelectedIndex)]="tabIndex" (nzSelectedIndexChange)="onSelectedIndexChange($event)">
      <nz-tab nzTitle="个人史">
        <div>
          <nz-card nzType="inner" nzTitle="托养人" class="marginBottom24">

            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzRequired nzFor="name">姓名</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.name" id="name" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzRequired nzFor="sex">性别</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select [(ngModel)]="registration.sex" nzAllowClear nzPlaceHolder="请选择" id="sex" nzDisabled>
                      <nz-option nzValue="男" nzLabel="男"></nz-option>
                      <nz-option nzValue="女" nzLabel="女"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzRequired nzFor="birthYearMonth">出生年月</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="registration.birthYearMonth" id="birthYearMonth"
                      style="width: 100%" nzDisabled></nz-date-picker>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8"  nzFor="nation">民族</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.nation" id="nation"
                      nzDisabled>
                      <nz-option nzLabel="汉族" nzValue="汉族"></nz-option>
                      <nz-option nzLabel="蒙古族" nzValue="蒙古族"></nz-option>
                      <nz-option nzLabel="回族" nzValue="回族"></nz-option>
                      <nz-option nzLabel="藏族" nzValue="藏族"></nz-option>
                      <nz-option nzLabel="维吾尔族" nzValue="维吾尔族"></nz-option>
                      <nz-option nzLabel="苗族" nzValue="苗族"></nz-option>
                      <nz-option nzLabel="彝族" nzValue="彝族"></nz-option>
                      <nz-option nzLabel="壮族" nzValue="壮族"></nz-option>
                      <nz-option nzLabel="布依族" nzValue="布依族"></nz-option>
                      <nz-option nzLabel="朝鲜族" nzValue="朝鲜族"></nz-option>
                      <nz-option nzLabel="满族" nzValue="满族"></nz-option>
                      <nz-option nzLabel="侗族" nzValue="侗族"></nz-option>
                      <nz-option nzLabel="瑶族" nzValue="瑶族"></nz-option>
                      <nz-option nzLabel="白族" nzValue="白族"></nz-option>
                      <nz-option nzLabel="土家族" nzValue="土家族"></nz-option>
                      <nz-option nzLabel="哈尼族" nzValue="哈尼族"></nz-option>
                      <nz-option nzLabel="哈萨克族" nzValue="哈萨克族"></nz-option>
                      <nz-option nzLabel="傣族" nzValue="傣族"></nz-option>
                      <nz-option nzLabel="黎族" nzValue="黎族"></nz-option>
                      <nz-option nzLabel="傈僳族" nzValue="傈僳族"></nz-option>
                      <nz-option nzLabel="佤族" nzValue="佤族"></nz-option>
                      <nz-option nzLabel="畲族" nzValue="畲族"></nz-option>
                      <nz-option nzLabel="高山族" nzValue="高山族"></nz-option>
                      <nz-option nzLabel="拉祜族" nzValue="拉祜族"></nz-option>
                      <nz-option nzLabel="水族" nzValue="水族"></nz-option>
                      <nz-option nzLabel="东乡族" nzValue="东乡族"></nz-option>
                      <nz-option nzLabel="纳西族" nzValue="纳西族"></nz-option>
                      <nz-option nzLabel="景颇族" nzValue="景颇族"></nz-option>
                      <nz-option nzLabel="柯尔克孜族" nzValue="柯尔克孜族"></nz-option>
                      <nz-option nzLabel="土族" nzValue="土族"></nz-option>
                      <nz-option nzLabel="达斡尔族" nzValue="达斡尔族"></nz-option>
                      <nz-option nzLabel="仫佬族" nzValue="仫佬族"></nz-option>
                      <nz-option nzLabel="羌族" nzValue="羌族"></nz-option>
                      <nz-option nzLabel="布朗族" nzValue="布朗族"></nz-option>
                      <nz-option nzLabel="撤拉族" nzValue="撤拉族"></nz-option>
                      <nz-option nzLabel="毛难族" nzValue="毛难族"></nz-option>
                      <nz-option nzLabel="仡佬族" nzValue="仡佬族"></nz-option>
                      <nz-option nzLabel="锡伯族" nzValue="锡伯族"></nz-option>
                      <nz-option nzLabel="阿昌族" nzValue="阿昌族"></nz-option>
                      <nz-option nzLabel="普米族" nzValue="普米族"></nz-option>
                      <nz-option nzLabel="塔吉克族" nzValue="塔吉克族"></nz-option>
                      <nz-option nzLabel="怒族" nzValue="怒族"></nz-option>
                      <nz-option nzLabel="乌孜别克族" nzValue="乌孜别克族"></nz-option>
                      <nz-option nzLabel="俄罗斯族" nzValue="俄罗斯族"></nz-option>
                      <nz-option nzLabel="鄂温克族" nzValue="鄂温克族"></nz-option>
                      <nz-option nzLabel="德昂族" nzValue="德昂族"></nz-option>
                      <nz-option nzLabel="保安族" nzValue="保安族"></nz-option>
                      <nz-option nzLabel="裕固族" nzValue="裕固族"></nz-option>
                      <nz-option nzLabel="京族" nzValue="京族"></nz-option>
                      <nz-option nzLabel="塔塔尔族" nzValue="塔塔尔族"></nz-option>
                      <nz-option nzLabel="独龙族" nzValue="独龙族"></nz-option>
                      <nz-option nzLabel="鄂伦春族" nzValue="鄂伦春族"></nz-option>
                      <nz-option nzLabel="赫哲族" nzValue="赫哲族"></nz-option>
                      <nz-option nzLabel="门巴族" nzValue="门巴族"></nz-option>
                      <nz-option nzLabel="珞巴族" nzValue="珞巴族"></nz-option>
                      <nz-option nzLabel="基诺族" nzValue="基诺族"></nz-option>
                      <nz-option nzLabel="其他" nzValue="其他"></nz-option>
                      <nz-option nzLabel="外国血统中国籍人士" nzValue="外国血统中国籍人士"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="cardno">身份证号码</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.cardno" id="cardno" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="marriage">婚姻状况</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.marriage" id="marriage"
                      nzDisabled>
                      <nz-option nzLabel="未婚" nzValue="未婚"></nz-option>
                      <nz-option nzLabel="已婚" nzValue="已婚"></nz-option>
                      <nz-option nzLabel="丧偶" nzValue="丧偶"></nz-option>
                      <nz-option nzLabel="离婚" nzValue="离婚"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="phone">联系电话</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.phone" id="phone" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="education">文化程度</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.education" id="education"
                      nzDisabled>
                      <nz-option nzLabel="小学" nzValue="小学"></nz-option>
                      <nz-option nzLabel="初中" nzValue="初中"></nz-option>
                      <nz-option nzLabel="高中" nzValue="高中"></nz-option>
                      <nz-option nzLabel="中专或技工学校" nzValue="中专或技工学校"></nz-option>
                      <nz-option nzLabel="大专" nzValue="大专"></nz-option>
                      <nz-option nzLabel="大学本科" nzValue="大学本科"></nz-option>
                      <nz-option nzLabel="研究生" nzValue="研究生"></nz-option>
                      <nz-option nzLabel="其他" nzValue="其他"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="political">政治面貌</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.political" id="political"
                      nzDisabled>
                      <nz-option nzLabel="中国共产党党员" nzValue="中国共产党党员"></nz-option>
                      <nz-option nzLabel="中国共产党预备党员" nzValue="中国共产党预备党员"></nz-option>
                      <nz-option nzLabel="群众" nzValue="群众"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="occupation">职业</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.occupation" id="occupation"
                      nzDisabled>
                      <nz-option nzLabel="干部" nzValue="干部"></nz-option>
                      <nz-option nzLabel="工人" nzValue="工人"></nz-option>
                      <nz-option nzLabel="军人" nzValue="军人"></nz-option>
                      <nz-option nzLabel="农民" nzValue="农民"></nz-option>
                      <nz-option nzLabel="商人" nzValue="商人"></nz-option>
                      <nz-option nzLabel="职员" nzValue="职员"></nz-option>
                      <nz-option nzLabel="其他" nzValue="其他"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="livingSituation">居住情况</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.livingSituation" 
                      id="livingSituation" nzDisabled>
                      <nz-option nzLabel="独居" nzValue="独居"></nz-option>
                      <nz-option nzLabel="与配偶/伴侣居住" nzValue="与配偶/伴侣居住"></nz-option>
                      <nz-option nzLabel="与子女居住" nzValue="与子女居住"></nz-option>
                      <nz-option nzLabel="与父母居住" nzValue="与父母居住"></nz-option>
                      <nz-option nzLabel="与兄弟姐妹居住" nzValue="与兄弟姐妹居住"></nz-option>
                      <nz-option nzLabel="与其他亲属居住" nzValue="与其他亲属居住"></nz-option>
                      <nz-option nzLabel="与非亲属关系的人居住" nzValue="与非亲属关系的人居住"></nz-option>
                      <nz-option nzLabel="养老机构" nzValue="养老机构"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="financialResources">经济来源</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.financialResources" 
                      id="financialResources" nzDisabled>
                      <nz-option nzLabel="退休金/养老金" nzValue="退休金/养老金"></nz-option>
                      <nz-option nzLabel="子女补贴" nzValue="子女补贴"></nz-option>
                      <nz-option nzLabel="亲友资助" nzValue="亲友资助"></nz-option>
                      <nz-option nzLabel="其他补贴" nzValue="其他补贴"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>

             
            </div>


            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="16">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4"  nzFor="medicalPayment" title="费用支付方式(医保类别)">费用支付方式</nz-form-label>
                  <nz-form-control [nzSpan]="20">
                    <nz-input-group nzCompact>
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.medicalPayment"
                        id="medicalPayment" [style.width]="registration.medicalPayment == '其他'?'30%':'100%'" nzDisabled>
                        <nz-option nzLabel="城镇职工基本医疗保险" nzValue="城镇职工基本医疗保险"></nz-option>
                        <nz-option nzLabel="城镇居民基本医疗保险" nzValue="城镇居民基本医疗保险"></nz-option>
                        <nz-option nzLabel="新型农村合作医疗" nzValue="新型农村合作医疗"></nz-option>
                        <nz-option nzLabel="贫困救助" nzValue="贫困救助"></nz-option>
                        <nz-option nzLabel="商业医疗保险" nzValue="商业医疗保险"></nz-option>
                        <nz-option nzLabel="全公费" nzValue="全公费"></nz-option>
                        <nz-option nzLabel="全自费" nzValue="全自费"></nz-option>
                        <nz-option nzLabel="其他" nzValue="其他"></nz-option>
                      </nz-select>
                      <input nz-input [(ngModel)]="registration.medicalPaymentMemo" placeholder="请输入费用支付方式" style="width: 70%;"
                        id="medicalPaymentMemo" *ngIf="registration.medicalPayment == '其他'" disabled>
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="medicalCard">医保卡号</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.medicalCard" id="medicalCard" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
           <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="16">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="4"  nzFor="personnelSort">人员类别</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                      <nz-input-group nzCompact>
                        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.personnelSort"
                          id="personnelSort" [style.width]="registration.personnelSort == '三无老人' || registration.personnelSort == '五保老人'?'30%':'100%'"
                          nzDisabled>
                          <nz-option nzLabel="三无老人" nzValue="三无老人"></nz-option>
                          <nz-option nzLabel="五保老人" nzValue="五保老人"></nz-option>
                          <nz-option nzLabel="社会代养" nzValue="社会代养"></nz-option>
                        </nz-select>
                        <input nz-input [(ngModel)]="registration.personnelSortMemo" placeholder="请输入三无五保账号" style="width: 70%;"
                          id="personnelSortMemo" *ngIf="registration.personnelSort == '三无老人' || registration.personnelSort == '五保老人'"
                          disabled>
                      </nz-input-group>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col [nzSpan]="8">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="8" nzFor="cultivation">修养类型</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.cultivation" id="cultivation"
                        nzDisabled>
                        <nz-option nzLabel="政府供养" nzValue="政府供养"></nz-option>
                        <nz-option nzLabel="社会寄养" nzValue="社会寄养"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
           </div>


            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="16">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="4"  nzFor="religion">宗教信仰</nz-form-label>
                      <nz-form-control [nzSpan]="20">
                        <nz-input-group nzCompact>
                          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.religion" id="religion"
                            [style.width]="registration.religion == '有'?'30%':'100%'" nzDisabled>
                            <nz-option nzLabel="无" nzValue="无"></nz-option>
                            <nz-option nzLabel="有" nzValue="有"></nz-option>
                          </nz-select>
                          <input nz-input [(ngModel)]="registration.religionMemo" placeholder="请输入宗教信仰" style="width: 70%;"
                            id="religionMemo" *ngIf="registration.religion == '有'" disabled>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                 
            </div>
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="16">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4" nzFor="nativePlace">户籍地</nz-form-label>
                  <nz-form-control [nzSpan]="20">
                    <input nz-input [(ngModel)]="registration.nativePlace" id="nativePlace" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="16">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4" nzFor="address">现住址</nz-form-label>
                  <nz-form-control [nzSpan]="20">
                    <input nz-input [(ngModel)]="registration.address" id="address" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row [nzGutter]="24">
                <div nz-col [nzSpan]="16">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="4" nzFor="hopy">爱好或特长</nz-form-label>
                      <nz-form-control [nzSpan]="20">
                        <!-- <input nz-input [(ngModel)]="registration.hopy" id="hopy" disabled> -->
                        <textarea nz-input [(ngModel)]="registration.hopy" id="hopy" disabled [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
            </div>
          </nz-card>
          <nz-card nzType="inner" nzTitle="经济供养人" class="marginBottom24">
            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="jjgyrName">姓名</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.EconomicProvider.name" name="jjgyrName" id="jjgyrName"
                      disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="jjgyrCardno">身份证号码</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.EconomicProvider.cardno" name="jjgyrCardno" id="jjgyrCardno"
                      disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="jjgyrAge">年龄</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.EconomicProvider.age" name="jjgyrAge" id="jjgyrAge"
                      readonly="true" disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
             
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="jjgyrRelationship">与托养人关系</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="registration.EconomicProvider.relationship"
                      name="jjgyrRelationship" id="jjgyrRelationship" nzDisabled>
                      <nz-option nzLabel="户主/本人" nzValue="户主/本人"></nz-option>
                      <nz-option nzLabel="配偶" nzValue="配偶"></nz-option>
                      <nz-option nzLabel="子/婿" nzValue="子/婿"></nz-option>
                      <nz-option nzLabel="女/媳" nzValue="女/媳"></nz-option>
                      <nz-option nzLabel="孙子女/外孙子女" nzValue="孙子女/外孙子女"></nz-option>
                      <nz-option nzLabel="父母/岳父母/公婆" nzValue="父母/岳父母/公婆"></nz-option>
                      <nz-option nzLabel="祖父母/外祖父母" nzValue="祖父母/外祖父母"></nz-option>
                      <nz-option nzLabel="兄弟姐妹" nzValue="兄弟姐妹"></nz-option>
                      <nz-option nzLabel="其他" nzValue="其他"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col [nzSpan]="8">
                <nz-form-item>
                  <nz-form-label [nzSpan]="8" nzFor="jjgyrPhone">联系电话</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                    <input nz-input [(ngModel)]="registration.EconomicProvider.phone" name="jjgyrPhone" id="jjgyrPhone"
                      disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <div nz-row [nzGutter]="24">
              <div nz-col [nzSpan]="16">
                <nz-form-item>
                  <nz-form-label [nzSpan]="4" nzFor="jjgyrAddress">住址</nz-form-label>
                  <nz-form-control [nzSpan]="20">
                    <input nz-input [(ngModel)]="registration.EconomicProvider.address" name="jjgyrAddress" id="jjgyrAddress"
                      disabled>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </nz-card>

          <ng-template #extraTemplate1>
            <button nz-button nzType="dashed">
              <i class="anticon anticon-plus"></i> 添加成员</button>
          </ng-template>
          <nz-card nzType="inner" nzTitle="家庭成员" class="marginBottom24">
            <nz-table #basicTable [nzData]="registration.Contacts" [nzHideOnSinglePage]="true">
              <thead>
                <tr>
                  <th>姓名</th>
                  <th>关系</th>
                  <th style="width:30%">单位或住址</th>
                  <th>联系电话</th>
                  <th>是否紧急联系人</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data">
                  <td>
                    <input nz-input [(ngModel)]="data.name" disabled>
                  </td>
                  <td>
                    <input nz-input [(ngModel)]="data.relationship" disabled>
                  </td>
                  <td>
                    <input nz-input [(ngModel)]="data.address" disabled>
                  </td>
                  <td>
                    <input nz-input [(ngModel)]="data.phone" disabled>
                  </td>
                  <td>
                    <label nz-checkbox [(ngModel)]="data.isEmergencyContact" nzDisabled></label>
                  </td>

                </tr>
              </tbody>
            </nz-table>
          </nz-card>

        </div>
      </nz-tab>
      <nz-tab nzTitle="健康史" [nzDisabled]="!registration.id">
        <div id="health">
          <nz-card nzType="inner" nzTitle="疾病诊断" class="marginBottom24">
            <p>请注明现在患有的，经医生诊断后及需要治疗的疾病。指出疾病是否正在接受医护人员的治疗或导致在过去90天内曾住院治疗（请其提供病历）等。</p>
            <p>
              0 一一 没有此病
              <br> 1 一一 有此病，但目前没有医护人员的监管（包括康复护士、物理或康复治疗师）
              <br> 2 一一 有此病，且正在接受医护人员的监管（包括康复护士、物理或康复治疗师）
            </p>
            <nz-card nzType="inner" nzTitle="心脏、循环系统疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateA">
                    <input type="text" nz-input value="A 冠心病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateA>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessA" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateB">
                    <input type="text" nz-input value="B 心律失常" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateB>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessB" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateC">
                    <input type="text" nz-input value="C 心瓣膜疾病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateC>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessC" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateD">
                    <input type="text" nz-input value="D 高血压病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateD>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessD" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateE">
                    <input type="text" nz-input value="E 肺心病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateE>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessE" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateF">
                    <input type="text" nz-input value="F 风湿性心脏病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateF>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessF" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="呼吸系统疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateG">
                    <input type="text" nz-input value="G 支气管哮喘" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateG>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessG" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateH">
                    <input type="text" nz-input value="H 慢性支气管炎" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateH>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessH" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateI">
                    <input type="text" nz-input value="I 慢性阻塞性肺病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateI>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessI" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="神经精神系统疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateJ">
                    <input type="text" nz-input value="J 阿尔采末病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateJ>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessJ" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateK">
                    <input type="text" nz-input value="K 老年期痴呆" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateK>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessK" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateL">
                    <input type="text" nz-input value="L 急性脑血管病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateL>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessL" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateM">
                    <input type="text" nz-input value="M 帕金森病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateM>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessM" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateN">
                    <input type="text" nz-input value="N 老年性抑郁症" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateN>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessN" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="消化系统疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateO">
                    <input type="text" nz-input value="O 消化性溃疡" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateO>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessO" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateP">
                    <input type="text" nz-input value="P 便秘" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateP>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessP" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="骨骼/运动系统疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateQ">
                    <input type="text" nz-input value="Q 关节炎" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateQ>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessQ" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateR">
                    <input type="text" nz-input value="R 颈椎病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateR>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessR" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateS">
                    <input type="text" nz-input value="S 股骨颈股折" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateS>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessS" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateT">
                    <input type="text" nz-input value="T 退行性骨关节病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateT>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessT" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateU">
                    <input type="text" nz-input value="U 骨质疏松症" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateU>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessU" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="代谢和内分泌疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateV">
                    <input type="text" nz-input value="V 糖尿病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateV>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessV" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateW">
                    <input type="text" nz-input value="W 原发性骨质疏松症" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateW>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessW" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateX">
                    <input type="text" nz-input value="X 高脂蛋白血症" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateX>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessX" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="泌尿生殖系统疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateY">
                    <input type="text" nz-input value="Y 肾炎或尿路感染" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateY>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessY" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateZ">
                    <input type="text" nz-input value="Z 前列腺肥大" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateZ>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessZ" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
              </div>
            </nz-card>
            <nz-card nzType="inner" nzTitle="其他疾病">
              <div nz-row [nzGutter]="24">
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateaa">
                    <input type="text" nz-input value="aa 病毒性肝炎" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateaa>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessAA" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplatebb">
                    <input type="text" nz-input value="bb 肺结核" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplatebb>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessBB" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplatecc">
                    <input type="text" nz-input value="cc 慢性肾衰竭" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplatecc>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessCC" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplatedd">
                    <input type="text" nz-input value="dd 白内障" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplatedd>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessDD" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateee">
                    <input type="text" nz-input value="ee 青光眼" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateee>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessEE" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateff">
                    <input type="text" nz-input value="ff 视网膜脱离" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateff>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessFF" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplategg">
                    <input type="text" nz-input value="gg 牙周病" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplategg>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessGG" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplatehh">
                    <input type="text" nz-input value="hh 营养不良" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplatehh>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessHH" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="12" nzMd="8" nzLg="8" nzXl="6" nzXXl="4">
                  <nz-input-group [nzAddOnAfter]="addOnAfterTemplateii">
                    <input type="text" nz-input value="ii 大疱性类天疱疮" readonly>
                  </nz-input-group>
                  <ng-template #addOnAfterTemplateii>
                    <nz-select [(ngModel)]="registration.HealthHistory.illnessII" nzDisabled>
                      <nz-option nzLabel="0" nzValue="0"></nz-option>
                      <nz-option nzLabel="1" nzValue="1"></nz-option>
                      <nz-option nzLabel="2" nzValue="2"></nz-option>
                    </nz-select>
                  </ng-template>
                </div>
                <div nz-col nzSm="24" nzMd="24" nzLg="24" nzXl="24" nzXXl="24">
                  <label>备注</label>
                  <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 6 }" [(ngModel)]="registration.HealthHistory.memo"
                    disabled></textarea>

                </div>
              </div>
            </nz-card>
          </nz-card>
          <nz-card nzType="inner" nzTitle="药物使用" class="marginBottom24">
            <p>如果老年人正接受医务人员的督导，请在下面的表格中注明老年人现在使用的各种药物（包括按时或偶尔服用的药物）的种类数目（尤其过去7天内曾服用过的药物），老年人自备的药物请标注。</p>

            <nz-card nzType="inner" class="marginBottom24">
              <div>
                <nz-form-item>
                  <nz-form-label>在过去7天内使用精神科药物（镇静剂、安眠药等）</nz-form-label>
                  <nz-form-control class="dib">
                    <nz-radio-group [(ngModel)]="registration.DrugUse.hasPsychotropicDrugs" nzName="hasPsychotropicDrugs"
                      nzDisabled>
                      <label nz-radio nzValue="1">是</label>
                      <label nz-radio nzValue="0">否</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <nz-divider></nz-divider>
              <div>
                <nz-form-item>
                  <nz-form-label>对某些药物过敏</nz-form-label>
                  <nz-form-control>
                    <nz-radio-group [(ngModel)]="registration.DrugUse.drugAllergy" nzName="drugAllergy" nzDisabled>
                      <label nz-radio nzValue="1">是</label>
                      <label nz-radio nzValue="0">否</label>
                    </nz-radio-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div *ngIf="registration.DrugUse.drugAllergy === '1'" id="drugMemo">
                <nz-checkbox-group [(ngModel)]="registration.DrugUse.drugMemo" nzDisabled></nz-checkbox-group>
                <input nzSpan="6" type="text" nz-input class="drugMemoOther" [(ngModel)]="registration.DrugUse.drugMemoOther"
                  [hidden]="!registration.DrugUse.drugMemo[registration.DrugUse.drugMemo.length - 1].checked" disabled>
              </div>
            </nz-card>

            <ng-template #extraTemplate2>
              <button nz-button nzType="dashed">
                <i class="anticon anticon-plus"></i> 添加药物</button>
            </ng-template>
            <nz-card nzType="inner" nzTitle="正在使用的药物">
              <nz-table #drugTable [nzData]="registration.DrugUse.DrugRecord" [nzHideOnSinglePage]="true">
                <thead>
                  <tr>
                    <th>序号</th>
                    <th>药物的名称与剂型</th>
                    <th>用法</th>
                    <th>每次数量</th>
                    <th>频率</th>
                    <th>备注</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of drugTable.data; let num = index;">
                    <td>
                      {{num + 1}}
                    </td>
                    <td>
                      <!-- <input nz-input [(ngModel)]="data.drugsId"> -->
                      <nz-select style="width: 100%;" [(ngModel)]="data.drugsId" nzPlaceHolder="请选择药物" nzAllowClear
                        nzShowSearch [nzServerSearch]="true" nzDisabled>
                        <ng-container *ngFor="let o of listOfDrugs">
                          <nz-option *ngIf="!isLoading" [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                        </ng-container>
                        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                          <i class="anticon anticon-loading anticon-spin loading-icon"></i> 加载数据中...
                        </nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <nz-select style="width: 100%; min-width: 150px;" nzMode="tags" [nzMaxMultipleCount]="1"
                        nzPlaceHolder="请选择/输入用法" [(ngModel)]="data.usages" nzDisabled>
                        <nz-option *ngFor="let option of listOfUsages" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <input nz-input [(ngModel)]="data.num" disabled>
                    </td>
                    <td>
                      <nz-select style="width: 100%; min-width: 150px;" nzMode="tags" [nzMaxMultipleCount]="1"
                        nzPlaceHolder="请选择/输入频率" [(ngModel)]="data.frequency" nzDisabled>
                        <nz-option *ngFor="let option of listOfFrequency" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                      </nz-select>
                    </td>
                    <td>
                      <input nz-input [(ngModel)]="data.memo" disabled>
                    </td>
                  </tr>
                </tbody>
              </nz-table>
            </nz-card>
          </nz-card>
        </div>
      </nz-tab>
    </nz-tabset>
  </nz-card-tab>
</nz-card>
