<!-- 表格查询条件Begin -->
<ng-template #serchArea>
  <div style="padding: 20px 0;">
      <div nz-row nzType="flex">
          <div nz-col style="margin-right:10px;margin-left: 20px;">
              <nz-form-item nzFlex>
                  <nz-form-label>老人</nz-form-label>
                  <nz-form-control>
                      <input nz-input style="width:150px" placeholder="按老人姓名或住院号检索" [(ngModel)]="sendData.name" />
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>建筑</nz-form-label>
                  <nz-form-control>
                      <nz-select style="width: 200px;" nzPlaceHolder="选择建筑" [(ngModel)]="sendData.buildId" (ngModelChange)="reFreshBuild(sendData.buildId)">
                          <nz-option *ngFor="let item of buildArr;let key = index" [nzValue]="item.id" [nzLabel]="item.buildingName"></nz-option>
                      </nz-select>
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>楼层</nz-form-label>
                  <nz-form-control>
                      <nz-select style="width: 200px;" nzPlaceHolder="选择楼层" [(ngModel)]="sendData.floorId" (ngModelChange)="reFreshFloor(sendData.floorId)">
                          <nz-option *ngFor="let item of floorArr;let key = index" [nzValue]="item.id" [nzLabel]="item.floorName"></nz-option>
                      </nz-select>
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>房间</nz-form-label>
                  <nz-form-control>
                      <nz-select style="width: 200px;" nzPlaceHolder="选择房间" [(ngModel)]="sendData.roomId" (ngModelChange)="getList(true)">
                          <nz-option *ngFor="let item of roomArr;let key = index" [nzValue]="item.id" [nzLabel]="item.roomName"></nz-option>
                      </nz-select>
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>跟随状态</nz-form-label>
                  <nz-form-control>
                      <nz-select style="width: 200px;" nzPlaceHolder="跟随状态" [(ngModel)]="sendData.status" (ngModelChange)="getList(true)">
                          <nz-option nzValue="" nzLabel="全部"></nz-option>
                          <nz-option nzValue="未开始" nzLabel="未开始"></nz-option>
                          <nz-option nzValue="进行中" nzLabel="进行中"></nz-option>
                          <nz-option nzValue="已完成" nzLabel="已完成"></nz-option>
                          <nz-option nzValue="未完成" nzLabel="未完成"></nz-option>
                      </nz-select>
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>选择日期</nz-form-label>
                  <nz-form-control>
                      <nz-range-picker [ngModel]="selDate" (ngModelChange)="dateChange($event)"></nz-range-picker>
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col>
              <nz-form-item nzFlex>
                  <nz-form-control>
                      <button nz-button nzType="primary" style="margin-left:10px;" (click)="getList(true)">
                          查询
                      </button>
                  </nz-form-control>
              </nz-form-item>
          </div>
      </div>
  </div>
</ng-template>
<!-- 表格查询条件End -->
<div style="background: #fff;height: 68px;line-height: 68px;padding: 0 24px;border: 1px solid #e8e8e8;border-radius: 2px 2px 0 0;zoom: 1;margin-bottom: 1px;min-height: 48px;font-size: 16px;color: rgba(0,0,0,.85);font-weight: 500;position:relative;">
  入住跟随
</div>
<div style="padding:0 50px;padding-top: 24px;background: #fff;">
  <nz-table #basicTable [nzData]="listOfData" [nzLoading]="Loading" [nzTitle]="serchArea" nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="totalElements" [nzShowTotal]="totalTemplate" [nzPageIndex]="sendData.page+1" [nzPageSize]="sendData.size" [nzPageSizeOptions]="[10, 20, 30, 40, 50, 100]"
  (nzPageSizeChange)="PageSizeChange($event)" (nzPageIndexChange)="PageIndexChange($event)">
      <thead>
          <tr>
            <th class="center">姓名</th>
            <th class="center">床位</th>
            <th class="center">房间</th>
            <th class="center">原护理等级</th>
            <th class="center">现护理等级</th>
            <th class="center">入住天数</th>
            <th class="center">跟进状态</th>
            <th class="center">完成时间</th>
            <th class="center">操作</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index">
          <td class="center">{{data.name}}</td>
          <td class="center">{{data.bedNum}}</td>
          <td class="center">{{data.room}}</td>
          <td class="center">{{data.oldLevel}}</td>
          <td class="center">{{data.newLevel}}</td>
          <td class="center">{{data.dayCount}}</td>
          <td class="center">{{data.status}}</td>
          <td class="center">{{data.endDate?data.endDate:'-'}}</td>
          <td class="center">
            <a *ngIf="data.status == '未完成' || data.status == '未开始'" href="javascript:void(0)" (click)="Detail(data.id,data.name,data.status)">开始&nbsp;&nbsp;</a>
            <!-- <nz-divider *ngIf="data.status == '未完成' || data.status == '未开始'" nzType="vertical"></nz-divider> -->
            
            <a *ngIf="data.status !== '未开始'" href="javascript:void(0)" (click)="Detail(data.id)">查看&nbsp;&nbsp;</a>
          </td>
        </tr>
      </tbody>
  </nz-table>
</div>
<ng-template #totalTemplate let-total>共 {{ totalElements }} 条</ng-template>
