.text_box{
    padding-left: 5px;
    text-align: left;
    width:150px;
    /* border:1px solid #ccc; */
    min-height:150px;
    /* max-height:300px; */
    overflow: auto;
    font-size: 14px;
    outline: none;
}