<!-- 表格查询条件Begin -->
<ng-template #serchArea>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="tempDataDescribe">模板简述</nz-form-label>
                <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                    <input nz-input name="tempDataDescribe" [(ngModel)]="reqObj.tempDataDescribe" id="tempDataDescribe" placeholder="请输入模板简述">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="tempDataValue">模板键值</nz-form-label>
                <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                    <input nz-input [(ngModel)]="reqObj.tempDataValue" name="tempDataValue" id="tempDataValue" placeholder="请输入模板键值">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="status">状态</nz-form-label>
                <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                    <nz-select class="w100p" [(ngModel)]="reqObj.status" nzAllowClear nzPlaceHolder="请选择" name="status" id="status">
                        <nz-option nzValue="" nzLabel="全部"></nz-option>
                        <nz-option nzValue="0" nzLabel="正常"></nz-option>
                        <nz-option nzValue="1" nzLabel="停用"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSm]="4" [nzMd]="4" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="updateList()">查询</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</ng-template>
<!-- 表格查询条件End -->


<nz-card nzTitle="模板数据列表" [nzExtra]="extraTemplate">
    <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzTitle]="serchArea" [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list" [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()" (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th class="textCenter">模板简述</th>
                <th class="textCenter">模板键值</th>
                <th class="textCenter">排序号</th>
                <th class="textCenter">更新时间</th>
                <th class="textCenter">模板标签描述</th>
                <th class="textCenter">状态</th>
                <th class="textCenter">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td class="textCenter">{{data.tempDataDescribe}}</td>
                <td class="textCenter">{{data.tempDataValue}}</td>
                <td class="textCenter">{{data.tempDataOrder}}</td>
                <td class="textCenter">{{data.updateTime}}</td>
                <td class="textCenter">{{data.tempDataContent}}</td>
                <td class="textCenter">
                    <span *ngIf="data.status==0">正常</span>
                    <span *ngIf="data.status==1">停用</span>
                </td>
                <td class="textCenter">
                    <a href="#" (click)="turnToAdd(data,$event)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a href="#" *ngIf="data.status==0" (click)="forbidden(data.id,data.status, $event,1)">禁用</a>
                    <a href="#" *ngIf="data.status==1" (click)="forbidden(data.id,data.status, $event,0)">启用</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a href="#" (click)="delete(data.id, $event)" class="red">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="turnToAdd('')">添加</button>
    <button nz-button nzType="default" class="marginLeft" (click)="back()">返回</button>
</ng-template>
<ng-template #totalTemplate let-total>共{{total}}条</ng-template>
