.editCategory {
  position: absolute;
  left: 100%;
  z-index: 800;
}

.ant-form-item {
  margin: 0px !important;
}

.form_input {
  width: 200px;
}

.marginL{
  margin-right:10px;
  margin-top: 5px;
  color: #63c2de;
}

h6{
  padding: 10px !important;
  margin-bottom: 0px !important;
  font-weight: bold;
}
.red{
  color: red !important;
}
