<!-- 表格查询条件Begin -->
<ng-template #serchArea>
  <div style="padding: 20px 0;">
      <div nz-row nzType="flex">
          <div nz-col style="margin-right:10px;margin-left: 20px;">
              <nz-form-item nzFlex>
                  <nz-form-label>老人姓名</nz-form-label>
                  <nz-form-control>
                      <input nz-input style="width:150px" placeholder="按老人姓名检索" [(ngModel)]="sendData.oldName" />
                  </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>床位名称</nz-form-label>
                  <nz-form-control>
                    <input nz-input style="width:150px" placeholder="按床位名称检索" [(ngModel)]="sendData.bedName" />
                </nz-form-control>
              </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
            <nz-form-item nzFlex>
                <nz-form-label>区域名称</nz-form-label>
                <nz-form-control>
                  <input nz-input style="width:150px" placeholder="按区域名称检索" [(ngModel)]="sendData.area" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
            <nz-form-item nzFlex>
                <nz-form-label>员工姓名</nz-form-label>
                <nz-form-control>
                  <input nz-input style="width:150px" placeholder="按员工姓名检索" [(ngModel)]="sendData.eName" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col style="margin-right:10px;">
            <nz-form-item nzFlex>
                <nz-form-label>员工姓名</nz-form-label>
                <nz-form-control>
                  <input nz-input style="width:150px" placeholder="按员工姓名检索" [(ngModel)]="sendData.eName" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col style="margin-right:10px;">
            <nz-form-item nzFlex>
                <nz-form-label>是否按时完成</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 200px;" nzPlaceHolder="护理等级" [(ngModel)]="sendData.isNow" >
                        <nz-option nzValue="true" nzLabel="是"></nz-option>
                        <nz-option nzValue="false" nzLabel="否"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col style="margin-right:10px;">
            <nz-form-item nzFlex>
                <nz-form-label>服务类型</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 200px;" nzPlaceHolder="护理等级" [(ngModel)]="sendData.type" >
                        <nz-option nzValue="0" nzLabel="即时服务"></nz-option>
                        <nz-option nzValue="1" nzLabel="日服务"></nz-option>
                        <nz-option nzValue="2" nzLabel="周服务"></nz-option>
                        <nz-option nzValue="3" nzLabel="月服务"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
          </div>

          <div nz-col style="margin-right:10px;">
            <nz-form-item nzFlex>
                <nz-form-label>时间</nz-form-label>
                <nz-range-picker
                    [nzShowTime]="{ nzFormat: 'HH:mm' }"
                    nzFormat="yyyy-MM-dd HH:mm"
                    [nzPlaceHolder]="[ '开始时间', '结束时间' ]"
                    [ngModel] = "sendData.selDate"
                    (ngModelChange)="timeChange($event)"
                    (nzOnOk)="timeChange($event)"
                ></nz-range-picker>
            </nz-form-item>
          </div>

            
          <!-- <div nz-col style="margin-right:10px;">
              <nz-form-item nzFlex>
                  <nz-form-label>护理等级</nz-form-label>
                  <nz-form-control>
                      <nz-select style="width: 200px;" nzPlaceHolder="护理等级" [(ngModel)]="sendData.level" (ngModelChange)="getList(true)">
                          <nz-option nzValue="" nzLabel="全部"></nz-option>
                          <nz-option nzValue="自理" nzLabel="自理"></nz-option>
                          <nz-option nzValue="介助" nzLabel="介助"></nz-option>
                          <nz-option nzValue="介护" nzLabel="介护"></nz-option>
                      </nz-select>
                  </nz-form-control>
              </nz-form-item>
          </div> -->

          <div nz-col>
              <nz-form-item nzFlex>
                  <nz-form-control>
                      <button nz-button nzType="primary" style="margin-left:10px;" (click)="getList(true)">
                          查询
                      </button>
                  </nz-form-control>
              </nz-form-item>
          </div>
      </div>
  </div>
</ng-template>
<!-- 表格查询条件End -->
<div style="background: #fff;height: 68px;line-height: 68px;padding: 0 24px;border: 1px solid #e8e8e8;border-radius: 2px 2px 0 0;zoom: 1;margin-bottom: 1px;min-height: 48px;font-size: 16px;color: rgba(0,0,0,.85);font-weight: 500;position:relative;">
  服务记录
</div>
<div style="padding:0 50px;padding-top: 24px;background: #fff;">
  <nz-table #basicTable [nzData]="listOfData" [nzLoading]="Loading" [nzTitle]="serchArea" nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzTotal]="totalElements" [nzShowTotal]="totalTemplate" [nzPageIndex]="sendData.page+1" [nzPageSize]="sendData.size" [nzPageSizeOptions]="[10, 20, 30, 40, 50, 100]"
  (nzPageSizeChange)="PageSizeChange($event)" (nzPageIndexChange)="PageIndexChange($event)">
      <thead>
          <tr>
            <th class="center">服务对象</th>
            <th class="center">床号</th>
            <th class="center">服务项目</th>
            <th class="center">服务图标</th>
            <th class="center">服务类别</th>
            <th class="center">服务人员</th>
            <th class="center">服务时间</th>
            <th class="center">操作</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data;let i = index">
          <td class="center">{{data.serviceObject}}</td>
          <td class="center">{{data.bedName}}</td>
          <td class="center">{{data.itemName}}</td>
          <td class="center">
            <!-- 自定义图标 -->
            <span *ngIf="data.picEl?.mode === 'diy'" style="display:inline-block;width: 40px;height: 40px;border-radius: 5px;line-height: 40px;font-size: 1.8em;text-align: center;" [ngStyle]="{'background': data.picEl.bacColor}">
                <span style="font-weight: bold;" [ngStyle]="{'color': data.picEl.fontColor}">{{data.picEl.word}}</span>
            </span>
            <!-- 本地 -->
            <span *ngIf="data.picEl?.mode === 'local'">
                <img [src]="data.picEl.picUrl" alt="" width="40px;" height="40px;" style="border-radius: 5px;">
            </span>
            <!-- 系统图标 -->
            <span *ngIf="data.picEl?.mode === 'sysIcon'">
                <img [src]="data.picEl.picUrl" alt="" width="40px;" height="40px;" style="border-radius: 5px;">
            </span>
          </td>
          <td class="center">{{data.type | serviceType}}</td>
          <td class="center">{{data.employeeName}}</td>
          <td class="center">{{data.serviceTime}}</td>
          
          <td class="center">
            <a href="javascript:void(0)" (click)="detail(data)">查看</a>
            <!-- <nz-divider nzType="vertical"></nz-divider>
            <a href="javascript:void(0)" (click)="goAddPage('edit',data.id)">编辑</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a href="javascript:void(0)" (click)="goPicPage(data)">修改图标</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a style="color:red;" href="javascript:void(0)" (click)="delete(data.id,data.project)">删除</a> -->
          </td>
        </tr>
      </tbody>
  </nz-table>
</div>
<ng-template #totalTemplate let-total>共 {{ totalElements }} 条</ng-template>

<!-- 查看 -->
<nz-modal [(nzVisible)]="checkProModelIsVisible" nzWidth="900" nzTitle="服务详情" nzOkText="确认" nzCancelText="取消"
  [nzFooter]="null" (nzOnCancel)="checkProModelIsVisible=false">

  <div style="background:#fff;position: relative;">
    <div style="position:absolute;z-index:99;width:100%;height:100%;"></div>
    <nz-spin [nzSpinning]="checkLoading">
      <!-- 基本配置 -->
      <nz-card style="width:100%;font-size:15px;" nzTitle="基本配置" [nzLoading]="false">
        <div
          style="padding-left:60px; display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-content:space-between;">
          <div style="line-height: 32px;width: 33%;" class="animated">
            项目名称：{{project?.itemName}}
          </div>
          <div style="margin-top:15px;position: relative;width: 99%;">
            <span style="display:inline-block;position: absolute;">工作标准：</span>
            <textarea rows="4" nz-input [nzAutosize]="{ minRows: 4, maxRows: 6 }"
              maxlength="500" style="display:inline-block;width:86%;left: 75px;">{{project?.itemStandard}}</textarea>
          </div>
          <div style="width: 99%;">
            <div style="line-height: 32px;margin-top: 10px;" class="animated">
              服务周期：{{project?.type | serviceType}}
            </div>
          </div>
        </div>
      </nz-card>

      <!-- 服务登记配置 -->
      <nz-card *ngIf="project.needGoods || project.registerContent.diy.length" style="width:100%;font-size:15px;font-size:15px;margin-top:15px;" nzTitle="服务登记配置" [nzLoading]="false">
            <div style="padding-left:60px; display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-between;align-content:space-between;">
                <div style="width: 99%;" *ngIf="project.needGoods">
                    <div style="line-height: 32px;margin-top: 10px;" class="animated">
                        <label nz-checkbox [(ngModel)]="project.needGoods">是否使用物品：</label>
                        {{project?.goods}}
                        <nz-divider nzType="vertical"></nz-divider>
                        使用物品数量：{{project?.registerContent?.num}}
                    </div>
                </div>
                
                    <div *ngFor="let item of project.registerContent.diy; let i = index;" style="margin-top:15px;width:92%;margin-top:10px;">
                        <!-- 单选 -->
                        <div *ngIf="item.classify == '单选'" style="position: relative;">
                            {{ item.title }}：
                            <nz-radio-group [(ngModel)]="item.value.checkValue">
                                <label *ngFor="let x of item.option" nz-radio [nzValue]="x">{{x}}</label>
                            </nz-radio-group>
                        </div>
                        <!-- 多选 -->
                        <div *ngIf="item.classify == '多选'" style="position: relative;">
                            {{ item.title }}：
                            <nz-checkbox-group [(ngModel)]="item.value"></nz-checkbox-group>
                        </div>
                        <!-- 文字输入 -->
                        <div *ngIf="item.classify == '文字输入'" style="position: relative;">
                            {{ item.title }}：
                            <input nz-input maxlength="50" style="width:70%" placeholder="请输入自定义内容" [(ngModel)]="item.value" />
                        </div>
                    </div>
            </div>
      </nz-card>
    </nz-spin>
  </div>

</nz-modal>
