:host /deep/ .ant-calendar-picker {
  width: 100% !important;
}

th,
td {
  text-align: center !important;
}

:host /deep/ .ant-table-title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
