<!-- 表格查询条件Begin -->
<ng-template #serchArea>
    <form nz-form>
        <div nz-row [nzGutter]="8">
            <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
                <nz-form-item>
                    <nz-form-control>
                        <nz-input-group nzSuffixIcon="anticon anticon-search">
                            <input type="text" name="oldman_name" nz-input placeholder="请输入长者姓名" [(ngModel)]="params.name" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSm]="24" [nzMd]="12" [nzLg]="12" [nzXl]="10" [nzXXl]="8">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="6" [nzLg]="5" [nzXl]="5">评估日期</nz-form-label>
                    <nz-form-control [nzXs]="19" [nzSm]="20" [nzMd]="18" [nzLg]="18" [nzXl]="18" [nzXl]="18">
                        <nz-range-picker name="date" nzFormat="yyyy-MM-dd" [ngModel]="selectedDate" (ngModelChange)="onRangerPickerChange($event)"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSm]="4" [nzMd]="4" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
                <nz-form-item>
                    <nz-form-control>
                        <button nz-button nzType="primary" (click)="updateList(true)">
                            查询
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</ng-template>
<!-- 表格查询条件End -->

<nz-card nzTitle="照护评估列表" [nzExtra]="extraTemplate">
    <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzTitle]="serchArea" [nzFrontPagination]="false" [nzData]="list" [nzTotal]="page.total" [(nzPageIndex)]="params.page" [(nzPageSize)]="params.size" [nzLoading]="isTableLoading" (nzPageIndexChange)="updateList()"
        (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th class="textCenter">姓名</th>
                <th class="textCenter">评估日期</th>
                <th class="textCenter">护理人</th>
                <th class="textCenter">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td class="textCenter">{{ data.oldman.name }}</td>
                <td class="textCenter">{{ data.createDate | date: "yyyy-MM-dd" }}</td>
                <td class="textCenter">{{ data.employeesName }}</td>
                <td class="textCenter">
                    <a href="#" (click)="turnToEdit(data, $event)">编辑</a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a (click)="showDeleteConfirm(data.id, $event)" class="red">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #extraTemplate>
    <a href="#" (click)="turnToAddApply($event)">申请评估</a>
</ng-template>
<ng-template #totalTemplate let-total>共 {{ total }} 条</ng-template>
