<!-- 表格查询条件Begin -->
<ng-template #serchArea>
  <form nz-form>
    <div nz-row [nzGutter]="8">
      <div nz-col [nzSm]="24" [nzMd]="6" [nzLg]="6" [nzXl]="6" [nzXXl]="6">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="7" nzFor="name">处理状态</nz-form-label>
          <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="17">
            <nz-select style="width: 120px;" [(ngModel)]="queryParams.state" nzPlaceHolder="处理状态" name="auditStatus">
              <nz-option nzValue="" nzLabel="全部"></nz-option>
              <nz-option nzValue="未处理" nzLabel="未处理"></nz-option>
              <nz-option nzValue="已处理" nzLabel="已处理"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSm]="4" [nzMd]="4" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
        <nz-form-item>
          <nz-form-control>
            <button nz-button nzType="primary" (click)="loadingDataArray(true)">查询</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</ng-template>
<!-- 安全随手拍 -->
<nz-card nzTitle="安全随手拍列表">
  <nz-table #basicTable [nzData]="dataArray" [nzTitle]="serchArea" [nzBordered]="'true'" nzShowSizeChanger [nzLoading]="isTableLoading"
    [nzTotal]="resultData.totalElements" [nzShowTotal]="totalTit" [(nzPageIndex)]="queryParams.page" [(nzPageSize)]="queryParams.size"
    (nzPageIndexChange)="loadingDataArray()" (nzPageSizeChange)="loadingDataArray(true)" [nzShowSizeChanger]="true"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th class="textCenter">创建时间</th>
        <th class="textCenter">处理状态</th>
        <th class="textCenter">记录人</th>
        <th class="textCenter">不安全因素</th>
        <th class="textCenter">处理人</th>
        <th class="textCenter">处理结果</th>
        <th class="textCenter">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray">
        <td>{{data.createDate}}</td>
        <td>{{data.state}}</td>
        <td>{{data.jiluren}}</td>
        <td>{{data.memo}}</td>
        <td>{{data.chuliren}}</td>
        <td>{{data.results}}</td>
        <td>
          <a href="#" (click)="showFirePatrol(data.id,'check',$event)">查看</a>
          <nz-divider *ngIf="data.state=='未处理'" nzType="vertical"></nz-divider>
          <a href="#" *ngIf="data.state=='未处理'" (click)="showFirePatrol(data.id,'edit',$event)">处理</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #totalTit>共&nbsp;{{resultData.totalElements}}&nbsp;条</ng-template>
