.textRight {
    text-align: right
  }
  .AbnormalContent{
    display: inline-block;
    width: 110px;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-radius: 0px;
  }
  .AbnormalContent:focus {
    outline: 0;
    box-shadow: 0 0 0 0px transparent;
}
.RiskAssessmentContent{
    position: absolute;
    left: 12%;
    right: 24%;
    padding: 30px 30px 15px 30px;
    border: 1px solid #efefef;
    box-shadow: 0px 0px 10px #d9d9d9;
    background: #fff;
}
.RiskAssessment{
  text-align: left;
  background: #fff;
  border: 1px solid #efefef;
  width: 100%;
}
.RiskAssessment tr th{
  padding: 10px 5px
}
.RiskAssessment tbody tr td{
  padding: 10px 5px
}
.textRight{

  margin-top: 20px
}
.countermand{
  margin-right: 20px;
}
.checkMargin{
  margin-top: 10px
}
.RiskAssessmentContentTitle{
  font-size: 16px;
    padding: 6px 0px;
    background: #fff;
    padding-left: 5px;
    /* border: 1px solid #e8e8e8; */
    border-bottom: 1px solid #efefef;
    width: 100%;
    margin-bottom: 10px;
}
.RiskAssessmentContentMarkSheet{
  position: fixed;
    top: 10%;
    bottom: 0;
    left: 16%;
    right: 0;
    background: rgba(255,255,255,0.5);
}
.RAPos1{
  top: 20%
}
.RAPos{
  top: 0%
}
.addMargin{
  background: #fff;
  border:1px solid #ccc;
  color: #000;
}
.Braden{
    display: inline-block;
    width: 50px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.cancel{
  margin-right: 10px
}
.isOver_true{
    color:red;
}

.isOver_false{
    color:green;
}

.numberWidth {
    width: 45px;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
}

.selectWidth {
    width: 80px;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
}

.detailWidth {
    margin-left: 5px;
    width: 300px;
    border: 0;
    border-bottom: 1px solid gray;
}

.nameWidth {
    width: 100px;
    border: 0;
    border-bottom: 1px solid gray;
}

input[type = 'checkbox'] {
    margin: 0 3px;
}

.text {
    margin-left: 15px;
    margin-right: 25px;
}

.form-control[readonly] {
    background-color: #fff;
}

.form-control:disabled {
    background-color: #eee ;
}

#delChildren {
    position: absolute;
    top: 28px;
    right: -15px;
}

.innerRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.paddingClear {
    padding: 0 0 0 0;
    margin: 0;
}

.paddingClearLeft {
    padding: 0 20px 0 0;
    margin: 0;
}

input[type = "checkbox"] {
    position: relative;
    top: 2px;
}

.form-control label {
    margin: 0 15px 0 0;
}
.PapAssessmentApply{
    width:50%;
    margin-left:10px;
}
  table{
    border: 1px solid #e8e8e8;
    width: 100%;
    margin-top: 20px;
  }

  table thead tr th{
      text-align:center;
      padding:10px 5px;
  }
  
  table tr td{
    padding: 8px 10px;
  }
  table.dailyLife tr td:nth-child(2){
    text-align: center
  }
  .ant-select,.ant-input{
    margin-right: 5px;
  }
  .addInput{
    width: 100px;
    border:0;
    border-bottom:1px solid #efefef
  }
  
  .ant-input:focus{
    box-shadow: 0 0 0 0px transparent !important;
  }
  .addMarginData{
    display: inline-block;
    margin-left: 150px;
  }
  .addDateMargin{
    display: inline-block;
    margin-left: 240px;
  }
  .gradeStandard{
    margin-top: 10px;
  }
  .PapAssessmentApplyInput{
    width: 50%;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
  }
  .showTime{
      margin-left: 10px
  }
  .addMargin{
    background: #fff;
    border:1px solid #ccc;
    color: #000;
  }
  .radioNusing{
      margin-left: 10px
  }
  .tabseMargin{
    margin-top: -49px;
    margin-left: -16px;
  }