
    <!-- 打印内容 -->
    <div  style="width:210mm;height:310mm; margin: 0 auto;">
        <div  style="text-align: center;width: 100%; margin: 0 auto;">
            <div style="text-align:left;margin-bottom: 5px;">ISC 03 080 01</div>
            <div style="text-align:left;margin-bottom: 5px;">Q  87</div>
            <div style="text-align:left;margin-bottom: 5px;">备案号：MZ2009-T-034-2009</div>
            <div style="text-align:right;font-size: 48px;font-weight: bold;margin-top: 100px;">MZ</div>
            <div style="font-size: 28px;font-weight: bold;letter-spacing: 10px;">中 华 人 民 共 和 国 民 政 行 业 标 准</div>
            <div style="font-size: 22px;margin-top: 149px;">
                <p>老年人能力评估</p>
                <p>Ability assessment for older adults</p>
            </div>
            <div style="font-size:20px;margin-top: 100px;">（2013年4月）</div>
            <div style="font-weight:bold;font-size:20px;letter-spacing:10px">中华人民共和国民政部 </div>
        </div>
    </div>

    <div  style="width:210mm;height:300mm; margin: 0 auto;">
        <div  style="text-align: center;width: 100%; margin: 0 auto;">
            <div style="font-size:22px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;"> 目    次 </div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">前言........................................................................................................................................................................4</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">引言........................................................................................................................................................................5</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">1　术语和定义.....................................................................................................................................................6</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">2　老年人能力评估基本信息表.......................................................................................................................10</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">3　日常生活活动评估表...................................................................................................................................11</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">4　精神状态评估表............................................................................................................................................13</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">5　知觉与沟通评估表........................................................................................................................................14</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">6　社会参与评估表............................................................................................................................................15</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">7　老年人能力评估报告....................................................................................................................................17</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">附录A（规范性附录）　老年人能力评估.......................................................................................................Ⅰ</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 15px;">附录B（资料性附录）　老年人能力结果判定卡...........................................................................................Ⅱ</div>
        </div>
    </div>

    <div  style="width:210mm;height:310mm; margin: 0 auto;">
        <div  style="text-align: center;width: 100%; margin: 0 auto;">
            <div style="font-size:22px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 前    言</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 10px;text-indent: 36px;">本标准按照GB/T1.1-2009给出的规则起草。</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 10px;text-indent: 36px;">本标准由全国社会福利服务标准化技术委员会（SAC/TC315）提出并归口。</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 10px;text-indent: 36px;">本标准起草单位：中国社会福利协会、北京大学护理学院、中国女医师协会、北京市第一社会福利院、北京市质量技术监督局、北京市民政局、北京市石景山社会福利院。</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 10px;text-indent: 36px;">本标准主要起草人：王素英、冯晓丽、刘有学、谢红、王志稳、彭嘉琳、雷洋、赵衍捷、于冬、田玲、任娜。</div>
        </div>
    </div>

    <div  style="width:210mm;height:300mm; margin: 0 auto;">
        <div  style="text-align: center;width: 100%; margin: 0 auto;">
            <div style="font-size:22px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 引    言</div>
            <div style="text-align:left;font-size: 18px;margin-bottom: 10px;text-indent: 36px;">随着我国人口老龄化程度日趋严重，为了满足老年人养老服务的需求，编写组在参考美国、日本、澳大利亚、英国等国家及我国香港和台湾地区老年人能力评估工具的基础上编制了本标准。标准的制定为老年人能力评估提供统一、规范和可操作的评估工具，科学划分老年人能力等级，作为政府制定养老政策，以及为老年人提供适宜养老服务的依据。</div>
        </div>
    </div>
    <div  style="width:210mm;height:1250mm; margin: 0 auto;">
        <div  style="text-align: center;width: 100%; margin: 0 auto;">
            <div style="font-size:22px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 老年人能力评估</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">1  范围</div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;">本标准规定了老年人能力评估的评估对象、评估指标、评估实施及评估结果。</div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;margin-top: 10px;">本标准适用于需要接受养老服务的老年人。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">2  术语和定义 </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;">下列术语和定义适用于本文件。 </div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">2.1 </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;font-weight: bold">能力ability </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;margin-top: 10px;">个体顺利完成某一活动所必需的主观条件。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">2.2 </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;font-weight: bold">日常生活活动activity of daily living</div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;margin-top: 10px;">个体为独立生活而每天必须反复进行的、最基本的、具有共同性的身体动作群，即完成进食、洗澡、修饰、穿衣、大小便控制、如厕、床椅转移、行走、上下楼梯等日常活动的基本动作和技巧。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">2.3 </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;font-weight: bold">精神状态mental status</div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;margin-top: 10px;">个体在认知功能、行为、情绪等方面的外在表现。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">2.4 </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;font-weight: bold">感知觉与沟通sensory and communication</div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;margin-top: 10px;">个体在意识水平、视力、听力、沟通交流等方面的能力。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">2.5 </div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;font-weight: bold">社会参与 social involvement</div>
            <div style="font-size:16px; text-align: left;letter-spacing: 5px;text-indent: 36px;margin-top: 10px;">个体与周围人群和环境的联系与交流的能力。 </div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">3  评估指标</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">3.1 一级指标共4个，包括日常生活活动、精神状态、感知觉与沟通、社会参与。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">3.2 二级指标共22个，见表1。日常生活活动包括10个二级指标，精神状态包括3个二级指标，感知觉与沟通包括4个二级指标，社会参与包括5个二级指标。各项指标的评分标准参见附录B“老年人能力评估表”。</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 表1 老年人能力评估指标</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 
                 <table style="border-collapse:collapse;">
                     <thead>
                         <tr>
                             <th style="border:1px solid black;padding: 5px;">一级指标</th>
                             <th style="border:1px solid black;padding: 5px;">二级指标</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td style="border:1px solid black;padding: 5px">日常生活活动</td>
                             <td style="border:1px solid black;padding: 5px">进食、洗澡、修饰、穿衣、大便控制、小便控制、如厕、床椅转移、平地行走、上下楼梯</td>
                         </tr>
                         <tr>
                            <td style="border:1px solid black;padding: 5px">精神状态</td>
                            <td style="border:1px solid black;padding: 5px">认知功能、攻击行为、抑郁症状</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;padding: 5px">感知觉与沟通</td>
                            <td style="border:1px solid black;padding: 5px">意识水平、视力、听力、沟通交流</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;padding: 5px">社会参与</td>
                            <td style="border:1px solid black;padding: 5px">生活能力、工作能力、时间/空间定向、人物定向、社会交往能力</td>
                        </tr>
                     </tbody>
                 </table>
            </div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">4  评估实施</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">4.1评估环境</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.1.1 评估环境应清洁、安静、光线明亮、空气清新、温度适宜。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.1.2 至少有三把椅子和一张诊桌、4~5个台阶，以供评估使用。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">4.2 评估提供方</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.2.1 评估机构应获得民政部门的资格认证或委托，至少应有5名评估员。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.2.2 评估员应具有医学或护理学学历背景，或获得社会工作者资格证书，或获得高级养老护理员资格证书，并经过专门培训获得评估员资格认证的人员。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">4.3 评估方法</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.3.1 每次评估由2名评估员同时进行。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.3.2 评估员通过询问被评估者或照顾者，填写附录A“老年人能力评估基本信息表”。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.3.3 评估员按照附录B“老年人能力评估表”进行逐项评估，填写每个项目的评分，并确定各一级指标的分级，填写在“老年人能力评估表”中。</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.3.4 评估员根据4个一级指标的分级，使用附录D“老年人能力评估结果判定卡”，最终确定老年人能力等级，填写在附录C“老年人能力评估报告”中，经2名评估员进行确认，并签名。同时，请信息提供者签名。 </div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">4.3.5 老年人能力评估应为动态评估，在接受养老服务前进行初始评估；接受养老服务后，若无特殊变化，每6个月定期评估一次；出现特殊情况导致能力发生变化时，应进行即时评估。</div>

            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">5  评估结果</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">5.1 一级指标的分级</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">5.1.1 日常生活活动通过对10个二级指标的评定，将其得分相加得到总分，等级划分见表2。</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 表2 日常生活活动等级划分</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 
                 <table style="border-collapse:collapse;width: 100%">
                     <thead>
                         <tr>
                             <th style="border:1px solid black;padding: 5px;">分级</th>
                             <th style="border:1px solid black;padding: 5px;">分级名称</th>
                             <th style="border:1px solid black;padding: 5px;">分级标准</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td style="border:1px solid black;text-align: center;padding: 5px">0</td>
                             <td style="border:1px solid black;padding: 5px">能力完好</td>
                             <td style="border:1px solid black;padding: 5px">总分为100分</td>
                         </tr>
                         <tr>
                            <td style="border:1px solid black;text-align: center;padding: 5px">1</td>
                            <td style="border:1px solid black;padding: 5px">轻度受损</td>
                            <td style="border:1px solid black;padding: 5px">总分为65~95分</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;text-align: center;padding: 5px">2</td>
                            <td style="border:1px solid black;padding: 5px">中度受损</td>
                            <td style="border:1px solid black;padding: 5px">总分为45~60分</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;text-align: center;padding: 5px">3</td>
                            <td style="border:1px solid black;padding: 5px">重度受损</td>
                            <td style="border:1px solid black;padding: 5px">总分为≤40分</td>
                        </tr>
                     </tbody>
                 </table>
            </div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">5.1.2 精神状态通过对3个二级指标的评定，将其得分相加得到总分，等级划分见表3。</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 表3 精神状态等级划分</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 
                <table style="border-collapse:collapse;width: 100%">
                    <thead>
                        <tr>
                            <th style="border:1px solid black;padding: 5px;">分级</th>
                            <th style="border:1px solid black;padding: 5px;">分级名称</th>
                            <th style="border:1px solid black;padding: 5px;">分级标准</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border:1px solid black;text-align: center;padding: 5px">0</td>
                            <td style="border:1px solid black;padding: 5px">能力完好</td>
                            <td style="border:1px solid black;padding: 5px">总分为0分</td>
                        </tr>
                        <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">1</td>
                        <td style="border:1px solid black;padding: 5px">轻度受损</td>
                        <td style="border:1px solid black;padding: 5px">总分为1分</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">2</td>
                        <td style="border:1px solid black;padding: 5px">中度受损</td>
                        <td style="border:1px solid black;padding: 5px">总分为2~3分</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">3</td>
                        <td style="border:1px solid black;padding: 5px">重度受损</td>
                        <td style="border:1px solid black;padding: 5px">总分为4~6分</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">5.1.3 感知觉与沟通通过对4个二级指标的评定，等级划分见表4。</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 表4 感知觉与沟通等级划分</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 
                <table style="border-collapse:collapse;width: 100%">
                    <thead>
                        <tr>
                            <th style="border:1px solid black;padding: 5px;width: 10%">分级</th>
                            <th style="border:1px solid black;padding: 5px;width: 15%">分级名称</th>
                            <th style="border:1px solid black;padding: 5px;">分级标准</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border:1px solid black;padding: 5px;text-align: center">0</td>
                            <td style="border:1px solid black;padding: 5px">能力完好</td>
                            <td style="border:1px solid black;padding: 5px">意识为清醒，视力和听力评定为0或1，沟通评定为0</td>
                        </tr>
                        <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">1</td>
                        <td style="border:1px solid black;padding: 5px">轻度受损</td>
                        <td style="border:1px solid black;padding: 5px">意识为清醒，但视力或听力中至少一项评定为2，或沟通评定为1</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">2</td>
                        <td style="border:1px solid black;padding: 5px">中度受损</td>
                        <td style="border:1px solid black;padding: 5px">意识为清醒，但视力或听力中至少一项评定为3，或沟通评定为2；<br>或意识为嗜睡，视力或听力评定为3及以下，沟通评定为2及以下</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">3</td>
                        <td style="border:1px solid black;padding: 5px">重度受损</td>
                        <td style="border:1px solid black;padding: 5px">意识为清醒或嗜睡，视力或听力中至少一项评定为4，或沟通评定为3；<br>或意识为昏睡或昏迷</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">5.1.4 社会参与通过对5个二级指标的评定，将其得分相加得到总分，等级划分见表5。</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 表5 社会参与等级划分</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 
                <table style="border-collapse:collapse;width: 100%">
                    <thead>
                        <tr>
                            <th style="border:1px solid black;padding: 5px;">分级</th>
                            <th style="border:1px solid black;padding: 5px;">分级名称</th>
                            <th style="border:1px solid black;padding: 5px;">分级标准</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="border:1px solid black;padding: 5px;text-align: center">0</td>
                            <td style="border:1px solid black;padding: 5px">能力完好</td>
                            <td style="border:1px solid black;padding: 5px">总分为0~2分</td>
                        </tr>
                        <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">1</td>
                        <td style="border:1px solid black;padding: 5px">轻度受损</td>
                        <td style="border:1px solid black;padding: 5px">总分为3~7分</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">2</td>
                        <td style="border:1px solid black;padding: 5px">中度受损</td>
                        <td style="border:1px solid black;padding: 5px">总分为8~13分</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid black;padding: 5px;text-align: center">3</td>
                        <td style="border:1px solid black;padding: 5px">重度受损</td>
                        <td style="border:1px solid black;padding: 5px">总分为14~20分</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;font-weight: bold">5.2 老年人能力等级划分</div>
            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">5.2.1 综合日常生活活动、精神状态、感知觉与沟通、社会参与这4个一级指标的分级，能力分级标准见表6。评估员可参照附录D提供的“老年人能力评估结果判定卡”对老年人能力等级做出判定。</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 表6 老年人能力等级划分</div>
            <div style="font-size:16px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 
                 <table style="border-collapse:collapse;width: 100%">
                     <thead>
                         <tr>
                             <th style="border:1px solid black;padding: 5px;">能力等级</th>
                             <th style="border:1px solid black;padding: 5px;">等级名称</th>
                             <th style="border:1px solid black;padding: 5px;">等级标准</th>
                         </tr>
                     </thead>
                     <tbody>
                         <tr>
                             <td style="border:1px solid black;padding: 5px;text-align: center">0</td>
                             <td style="border:1px solid black;padding: 5px">能力完好</td>
                             <td style="border:1px solid black;padding: 5px">日常生活活动、精神状态、感知觉与沟通的分级均为0，社会参与的分级为0或1。</td>
                         </tr>
                         <tr>
                            <td style="border:1px solid black;padding: 5px;text-align: center">1</td>
                            <td style="border:1px solid black;padding: 5px">轻度失能</td>
                            <td style="border:1px solid black;padding: 5px">日常生活活动的分级为0，但精神状态、感知觉与沟通中至少一项的分级为1及以上，或社会参与的分级为2；<br>
                                    或日常生活活动的分级为1，精神状态、感知觉与沟通、社会参与中至少有一项的分级为0或1。</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;padding: 5px;text-align: center">2</td>
                            <td style="border:1px solid black;padding: 5px">中度失能</td>
                            <td style="border:1px solid black;padding: 5px">日常生活活动的分级为1，但精神状态、感知觉与沟通、社会参与的分级均为2，或有一项的分级为3；<br>
                                    或日常生活活动的分级为2，且精神状态、感知觉与沟通、社会参与中有1~2项的分级为1或2。</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;padding: 5px;text-align: center">3</td>
                            <td style="border:1px solid black;padding: 5px">重度失能</td>
                            <td style="border:1px solid black;padding: 5px">日常生活活动的分级为3；<br>
                                    或日常生活活动、精神状态、感知觉与沟通、社会参与的分级均为2；<br>
                                    或日常生活活动的分级为2，且精神状态、感知觉与沟通、社会参与中至少有一项的分级为3。</td>
                        </tr>
                        <tr>
                            <td style="border:1px solid black;padding: 5px;" colspan="3">
                                    <span style="display: inline-block;font-weight: bold;">注1：</span>   处于昏迷状态者，直接评定为重度失能。若意识转为清醒，需重新进行评估。<br>
                                    <span style="display: inline-block;font-weight: bold;">注2：</span>   
                                    <span>有以下情况之一者，在原有能力级别上提高一个级别：①确诊为认知障碍/痴呆；②确诊为精神疾病；
                                        ③近30天内发生过2次及以上意外事件（如跌倒、噎食、自杀、走失）。</span>
                            </td>
                        </tr>
                     </tbody>
                 </table>
            </div>


            <div style="font-size:18px; text-align: left;margin-top: 30px;margin-bottom: 30px;">5.2.2 老年人能力评估是基础性评估，只提供能力分级。当“精神状态”中的认知功能评定为受损，宜请相关专业人员对精神状态进行进一步的专科评估。</div>
        </div>
    </div>

    
  