
  <!-- 打印内容 -->
    <div  style="width:210mm;height:310mm; margin: 0 auto;">
        <div  style="text-align: center;width: 100%; margin: 0 auto;">
            <!-- 第一页 -->
            <div class="firstPate">
                <!-- 头部 -->
                <h1>{{tagName}}</h1>
                <!-- 二级头部 -->
                <div class="abilityAssessment" style="font-size: 22px;margin-top: 149px;">
                     <p>老年人能力评估</p>
                     <p>Ability assessment for older adults</p>
                </div>
    
                <!-- 信息 -->
                <div class="informationForm" style="margin-top: 200px;">
                    <div class="form" style="width: 500px;font-weight: bold; margin: 0 auto;margin-bottom: 12px;">
                        <span class="formLabel" style="font-size: 22px;width: 120px;display: inline-block; text-align: left;">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</span>
                        <span class="formFor" style="display: inline-block; border-bottom: 1px solid #efefef; width: 300px;"></span>
                    </div>
                    <div class="form" style="width: 500px;font-weight: bold; margin: 0 auto;margin-bottom: 12px;">
                        <span class="formLabel" style="font-size: 22px;width: 120px;display: inline-block; text-align: left;">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：</span>
                        <span class="formFor" style="display: inline-block; border-bottom: 1px solid #efefef; width: 300px;"></span>
                    </div>
                    <div class="form" style="width: 500px;font-weight: bold; margin: 0 auto;margin-bottom: 12px;">
                        <span class="formLabel" style="font-size: 22px;width: 120px;display: inline-block; text-align: left;">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄：</span>
                        <span class="formFor" style="display: inline-block; border-bottom: 1px solid #efefef; width: 300px;"></span>
                    </div>
                    <div class="form" style="width: 500px;font-weight: bold; margin: 0 auto;margin-bottom: 12px;">
                        <span class="formLabel" style="font-size: 22px;width: 120px;display: inline-block; text-align: left;">地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：</span>
                        <span class="formFor" style="display: inline-block; border-bottom: 1px solid #efefef; width: 300px;"></span>
                    </div>
                    <div class="form" style="width: 500px;font-weight: bold; margin: 0 auto;margin-bottom: 12px;">
                        <span class="formLabel" style="font-size: 22px;width: 120px;display: inline-block; text-align: left;">联系电话：</span>
                        <span class="formFor" style="display: inline-block; border-bottom: 1px solid #efefef; width: 300px;"></span>
                    </div>
                    <div class="form" style="width: 500px;font-weight: bold; margin: 0 auto;margin-bottom: 12px;">
                        <span class="formLabel" style="font-size: 22px;width: 120px;display: inline-block; text-align: left;">护理等级：</span>
                        <span class="formFor" style="display: inline-block; border-bottom: 1px solid #efefef; width: 300px;"></span>
                    </div>
                </div>
                <!-- 日期 -->
                <div class="data" style="margin-top: 50mm;text-align: right;font-size: 20px;">
                    <span>日期：</span>
                    <span style="display: inline-block;width: 50px;"></span>年
                    <span style="display: inline-block;width: 50px;"></span>月
                    <span style="display: inline-block;width: 50px;"></span>日
                </div>
            </div>
        </div>
    </div>

   
  