<div  style="width:210mm;height:300mm; margin: 0 auto;">
    <div  style="text-align: center;width: 100%; margin: 0 auto;">
        <div style="font-size:22px;letter-spacing: 6px;font-weight: bold;margin-bottom: 20px;margin-top: 20px;"> 老人摔倒指数评估表 </div>
        <div style="width:100%;margin-bottom: 10px;height: 31px;overflow: hidden;">
            <div style="width:33%;float:left;">
               <div style="width:50%;float:left;font-size: 18px;font-weight: bold;text-align: right">姓名:</div>
               <div style="width:50%;float:left;font-size: 18px;">{{olderInfo.name}}</div>
            </div>
            <div style="width:33%;float:left;">
                <div style="width:50%;float:left;font-size: 18px;font-weight: bold;text-align: right">性别:</div>
                <div style="width:50%;float:left;font-size: 18px;">{{olderInfo.sex}}</div>
             </div>
             <div style="width:33%;float:left;">
                <div style="width:50%;float:left;font-size: 18px;font-weight: bold;text-align: right">年龄:</div>
                <div style="width:50%;float:left;font-size: 18px;">{{olderInfo?.birthYearMonth | AgeCount}}</div>
             </div>
        </div>
        <!-- <div style="width:100%;margin-bottom: 10px;height: 31px;overflow: hidden;">
          <div style="width:33%;float:left;">
             <div style="width:50%;float:left;font-size: 18px;font-weight: bold;text-align: right">评定人:</div>
             <div style="width:50%;float:left;font-size: 18px;">{{saveInfo.asser}}</div>
          </div>
          <div style="width:33%;float:left;">
              <div style="width:50%;float:left;font-size: 18px;font-weight: bold;text-align: right">评定时间:</div>
              <div style="width:50%;float:left;font-size: 18px;">{{saveInfo.assDate}}</div>
           </div>
           <div style="width:33%;float:left;">
              <div style="width:50%;float:left;font-size: 18px;font-weight: bold;text-align: right">诊断:</div>
              <div style="width:50%;float:left;font-size: 18px;">{{tumbleInfo.diagnose}}</div>
           </div>
        </div> -->
        <div>
            <table style="border-collapse:collapse;width: 100%;" border="1">
                <thead>
                  <tr>
                    <th style="padding: 10px; font-size: 16px;text-align: center;">
                      <b>项目</b>
                    </th>
                    <th style="padding: 10px; font-size: 16px;text-align: center;">
                      <b>参数</b>
                    </th>
                    <th style="padding: 10px; font-size: 16px;text-align: center;">
                      <b>分值</b>
                    </th>
                    <th style="padding: 10px; font-size: 16px;text-align: center;">
                      <b>测评结果</b>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td rowspan="3" style="padding: 10px;">
                      <b>下肢肌无力</b>
                    </td>
                    <td style="padding: 10px;"> 3~4级</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="3" style="padding: 10px;">
                       <div>{{tumbleInfo.muscleWeakness}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 0~2级</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;">10级</td>
                    <td style="padding: 10px;"> 3</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>平衡协调</b>
                    </td>
                    <td style="padding: 10px;"> 功能障碍</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.balanceCoordination}}分</div>
                    </td>
          
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 功能正常</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
          
                  <tr>
                    <td rowspan="3" style="padding: 10px;">
                      <b>年龄和性别</b>
                    </td>
                    <td style="padding: 10px;"> ≥60岁女性</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="3" style="padding: 10px;">
                        <div>{{tumbleInfo.ageAndSex}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> ≥60岁男性</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;">60岁</td>
                    <td style="padding: 10px;"> 3</td>
                  </tr>
                  <tr>
                    <td rowspan="3" style="padding: 10px;">
                      <b>营养</b>
                    </td>
                    <td style="padding: 10px;"> 不良</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="3" style="padding: 10px;">
                        <div>{{tumbleInfo.nutrition}}分</div>
                    </td>
                  </tr>
                  <tr>
          
                    <td style="padding: 10px;"> 中等</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;">良好</td>
                    <td style="padding: 10px;"> 3</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>慢性病</b>
                    </td>
                    <td style="padding: 10px;"> 有</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.chronicDisease}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 无</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>下肢骨折</b>
                    </td>
                    <td style="padding: 10px;"> 有</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.fracture}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 无</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>睡眠</b>
                    </td>
                    <td style="padding: 10px;"> 失眠</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.sleep}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 正常</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>视力</b>
                    </td>
                    <td style="padding: 10px;"> 下降</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.vision}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 正常</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>药物因素</b>
                    </td>
                    <td style="padding: 10px;"> 有</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.drugFactors}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 无</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td rowspan="3" style="padding: 10px;">
                      <b>助行器械</b>
                    </td>
                    <td style="padding: 10px;"> 无</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="3" style="padding: 10px;">
                        <div>{{tumbleInfo.equipment}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 拐杖</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 轮椅</td>
                    <td style="padding: 10px;"> 3</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>跌倒史</b>
                    </td>
                    <td style="padding: 10px;"> 有</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.historyOfFalls}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 无</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td rowspan="2" style="padding: 10px;">
                      <b>陪护</b>
                    </td>
                    <td style="padding: 10px;"> 无</td>
                    <td style="padding: 10px;"> 1</td>
                    <td rowspan="2" style="padding: 10px;">
                        <div>{{tumbleInfo.chaperonage}}分</div>
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px;"> 持续有</td>
                    <td style="padding: 10px;"> 2</td>
                  </tr>
          
                  <tr>
                    <td style="padding: 10px;">
                      <b>总分</b>
                    </td>
                    <td style="padding: 10px;"> {{tumbleInfo.total}}分</td>
                    <td style="padding: 10px;">
                      <b>等级</b>
                    </td>
                    <td style="padding: 10px;">{{tumbleInfo.total | TumbleLevel}}</td>
                  </tr>
          
                  <tr>
                    <td colspan="4" style="text-align: left;padding: 10px;">
                      <span>
                        评分在23~24分提示轻度危险；
                        <br>评分在21~22分提示中度危险；
                        <br>评分在18~20分提示高度危险；
                        <br>评分≤17分提示极度危险，要求上报。
                        <br> 老年人或亲属意见：以上评估情况属实，签名为证。
                      </span>
                    </td>
                  </tr>
          
                  <tr>
                    <td style="padding: 10px;">
                      <span>
                        老年人或亲属签字：
                      </span>
                    </td>
                    <td style="padding: 10px;">
                        <div>{{tumbleInfo.signatureName}}</div>
                    </td>
                    <td style="padding: 10px;">
                      <span>
                        日期：
                      </span>
                    </td>
                    <td style="padding: 10px;">
                        <div>{{tumbleInfo.date}}</div>
                    </td>
                  </tr>
          
                </tbody>
              </table>
        </div>
    </div>
</div>