/* 禁用模式下表单控件字体颜色纯黑色Begin */

.ant-input-disabled,
.ant-select-disabled,
:host /deep/ .ant-input-disabled {
    color: rgba(0, 0, 0, .65) !important;
}

:host /deep/ .ant-radio-disabled+span {
    color: rgba(0, 0, 0, .65) !important;
}


/* 禁用模式下表单控件字体颜色纯黑色End */

:host /deep/ .ant-card-extra {
    padding: 6.5px 0;
}

:host /deep/ #health .ant-form-item-label {
    text-align: left;
}

#health nz-select {
    width: 60px;
}

#health div[nz-col] {
    margin-bottom: 16px;
}

:host /deep/ #health input:hover {
    border-color: #d9d9d9;
}

:host /deep/ #health input:focus {
    border-color: #d9d9d9;
    box-shadow: none;
}

:host /deep/ .ant-calendar-picker {
    width: 100%;
}

:host /deep/ #health [_nghost-c4] {
    display: inline-block;
}

.marginBottom24 {
    margin-bottom: 24px;
}

.textRight {
    text-align: right
}

.addWidth {
    width: 125px !important;
}

.addFirstTd {
    width: 30%;
    text-align: center
}

table {
    border: 1px solid #e8e8e8;
    width: 100%
}

table tr td {
    padding: 8px 10px;
}

table.dailyLife tr td:nth-child(2) {
    text-align: center
}

.ant-select,
.ant-input {
    margin-right: 5px;
}

.addInput {
    width: 100px;
    border: 0;
    border-bottom: 1px solid #efefef
}

.ant-input:focus {
    box-shadow: 0 0 0 0px transparent !important;
}

.addMarginData {
    display: inline-block;
    margin-left: 150px;
}

.addDateMargin {
    display: inline-block;
    margin-left: 240px;
}

.gradeStandard {
    margin-top: 10px;
}

.addMargin {
    background: #fff;
    border: 1px solid #ccc;
    color: #000;
}

.isOver_true {
    color: red;
}

.isOver_false {
    color: green;
}

.numberWidth {
    width: 45px;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
}

.selectWidth {
    width: 80px;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
}

.detailWidth {
    margin-left: 5px;
    width: 300px;
    border: 0;
    border-bottom: 1px solid gray;
}

.nameWidth {
    width: 100px;
    border: 0;
    border-bottom: 1px solid gray;
}

input[type='checkbox'] {
    margin: 0 3px;
}

.text {
    margin-left: 15px;
    margin-right: 25px;
}

.form-control[readonly] {
    background-color: #fff;
}

.form-control:disabled {
    background-color: #eee;
}

#delChildren {
    position: absolute;
    top: 28px;
    right: -15px;
}

.innerRow {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.paddingClear {
    padding: 0 0 0 0;
    margin: 0;
}

.paddingClearLeft {
    padding: 0 20px 0 0;
    margin: 0;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.form-control label {
    margin: 0 15px 0 0;
}

.capacityAssessApplyYear {
    width: 150px
}

table {
    text-align: left
}

table tbody tr td {
    text-align: left
}

.capacityAssessApply,
.capacityAssessApplyYear {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.capacityAssessFaith {
    width: 60%
}
.admisW{
    width: 290px;
}



