<ng-template #btnAdd>
  <button nz-button (click)="save()" nzType="primary" style="margin-right: 20px;" [nzLoading]="isLoadingSave">保存</button>
  <button nz-button (click)="back()">返回</button>
</ng-template>
<nz-card nzTitle="患者入院评估表" [nzExtra]="btnAdd" style="height: 100%;">
  <div style="width: 800px; margin: 0 auto;padding: 30px 50px;">

    <div style="text-align: center">
      <h2>无锡市滨湖区蠡园街道社区卫生服务中心</h2>
      <h2>患者病情评估表</h2>
    </div>
    <h3>姓名：{{olderInfo?.name}} &emsp; 性别：{{olderInfo?.sex}} &emsp; 年龄：{{olderInfo?.age}} &emsp; 病区：{{olderInfo?.sickWardName}} &emsp; 住院号：{{olderInfo?.admissionNo}} &emsp; </h3>
    <h3>诊断：{{ olderInfo?.judgement }}</h3>
    <span>入院评估：</span>
    <table style="width: 100%;text-align: center;border-collapse:collapse;" border="1px solid #000">
      <tbody>
        <tr style="height: 45px;">
          <td>主要症状</td>
          <td style="min-width: 80px;">风险</td>
          <td>可能的并发症</td>
          <td style="min-width: 80px;">心理状况</td>
          <td style="min-width: 80px;">预后</td>
          <td style="min-width: 120px;">经济状况</td>
        </tr>
        <tr style="height: 45px;">
          <td rowspan="3">
            <div id="symptom" class="text_box" contenteditable="true"></div>
            <!-- <textarea style="width:100%; height:125px; border:0 none; outline:none;"></textarea> -->
          </td>
          <td (click)="setFormVal('risk','高')">高<span *ngIf="formInfo.risk == '高'">√</span></td>
          <td rowspan="3">
            <div id="symdrome" class="text_box" contenteditable="true"></div>
            <!-- <textarea style="width:100%; height:125px; border:0 none; outline:none;"></textarea> -->
          </td>
          <td (click)="setFormVal('psychologicalStatus','良好')">良好<span *ngIf="formInfo.psychologicalStatus == '良好'">√</span></td>
          <td (click)="setFormVal('prognosis','好')">好<span *ngIf="formInfo.prognosis == '好'">√</span></td>
          <td (click)="setFormVal('economy','费用承受力好')" style="padding-left: 10px; text-align: left;">费用承受力好<span *ngIf="formInfo.economy == '费用承受力好'">√</span></td>
        </tr>
        <tr style="height: 45px;">
          <td (click)="setFormVal('risk','中')">中<span *ngIf="formInfo.risk == '中'">√</span></td>
          <td (click)="setFormVal('psychologicalStatus','一般')">一般<span *ngIf="formInfo.psychologicalStatus == '一般'">√</span></td>
          <td (click)="setFormVal('prognosis','中')">中<span *ngIf="formInfo.prognosis == '中'">√</span></td>
          <td (click)="setFormVal('economy','费用承受力中')" style="padding-left: 10px; text-align: left;">费用承受力中<span *ngIf="formInfo.economy == '费用承受力中'">√</span></td>
        </tr>
        <tr style="height: 45px;">
          <td (click)="setFormVal('risk','低')">低<span *ngIf="formInfo.risk == '低'">√</span></td>
          <td (click)="setFormVal('psychologicalStatus','较差')">较差<span *ngIf="formInfo.psychologicalStatus == '较差'">√</span></td>
          <td (click)="setFormVal('prognosis','差')">差<span *ngIf="formInfo.prognosis == '差'">√</span></td>
          <td (click)="setFormVal('economy','费用承受力差')" style="padding-left: 10px; text-align: left;">费用承受力差<span *ngIf="formInfo.economy == '费用承受力差'">√</span></td>
        </tr>
      </tbody>
    </table>
    <div style="text-align: end;padding: 20px 0;">
      <span style="padding-right: 30px;">
        评估者：<input nz-input style="width: 150px;" [(ngModel)]="formInfo.assessmentPerson" />
      </span>
      <span>
        日期：<nz-date-picker [(ngModel)]="selDate" (ngModelChange)="onDateChange($event)"></nz-date-picker>
      </span>
    </div>
  </div>
</nz-card>