<ng-template #titleArea>
    <div>
        <p><span>抵用劵详情</span></p>
    </div>
</ng-template>
<ng-template #basicInfoBtn>
    <button nz-button nzType="default" class="mr20" (click)="back()">返回</button>
</ng-template>
<nz-card [nzTitle]="titleArea" [nzExtra]="basicInfoBtn">
    <nz-card nzType="inner" nzTitle="基本信息">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 抵扣券代码</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <input nz-input [(ngModel)]="obj.voucherCode" [disabled]="disabled" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 抵扣券名称</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <input nz-input [(ngModel)]="obj.voucherName" [disabled]="disabled" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 使用条件</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-select style="width:100%" nzAllowClear [(ngModel)]="obj.useConditions" nzPlaceHolder="" [nzDisabled]="disabled" (ngModelChange)="changeItem()">
                            <nz-option nzValue="1" nzLabel="不限条件"></nz-option>
                            <nz-option nzValue="2" nzLabel="消费使用"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 抵扣类型</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-select style="width:100%" [(ngModel)]="obj.deductionType" nzAllowClear nzPlaceHolder="" (ngModelChange)="changeType()">
                            <nz-option nzValue="1" nzLabel="金额"></nz-option>
                            <nz-option nzValue="2" nzLabel="比例"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 抵扣金额</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-input-number [nzMin]="1" [(ngModel)]="obj.deductibleAmount" [nzDisabled]="disabled" *ngIf="obj.deductionType=='1'"></nz-input-number>
                        <nz-input-number [nzMin]="1" [nzMax]="100" [(ngModel)]="obj.deductibleAmount" [nzDisabled]="disabled" *ngIf="obj.deductionType=='2'"></nz-input-number>
                        <input nz-input [(ngModel)]="unit" readonly style="width:30%" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12" *ngIf="isabled==true">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 抵扣消费类别</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-select style="width: 100%;" [(ngModel)]="obj.expCategoryId" [nzDisabled]="disabled" (ngModelChange)="changeExpItem()">

                            <nz-option *ngFor="let option of expCategoryList" [nzLabel]="option.name" [nzValue]="option.id"> </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12" *ngIf="isabled==true">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 抵扣消费项目</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-select style="width: 100%;" [(ngModel)]="obj.expItemId" [nzDisabled]="disabled">
                            <nz-option nzLabel="全部" nzValue=""> </nz-option>
                            <nz-option *ngFor="let option of expItemList" [nzLabel]="option.itemName" [nzValue]="option.id"> </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 发行状态 </nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-select style="width:100%" [(ngModel)]="obj.issuingState" nzAllowClear nzPlaceHolder="">
                            <nz-option nzValue="1" nzLabel="未发行"></nz-option>
                            <nz-option nzValue="2" nzLabel="已发行"></nz-option>
                            <nz-option nzValue="3" nzLabel="停发"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 发行数量</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-input-number [(ngModel)]="obj.issuingNum" [nzDisabled]="disabled" [nzMin]="1" [nzStep]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 剩余数量</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-input-number [(ngModel)]="obj.numberRemaining" [nzDisabled]="disabled" [nzMin]="1" [nzStep]="1"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8"> 有效期</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                        <nz-date-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="data" name="data" (ngModelChange)="onRangerPickerChange($event)"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4"> 备注</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <textarea rows="4" nz-input [(ngModel)]="obj.remark" [disabled]="disabled"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </nz-card>
    <div style="text-align:center;margin-top: 30px;">
        <button class="saveBtn" nz-button nzType="primary" *ngIf="disabled == false" fnzSize="large" (click)="save()" [nzLoading]="saveLoading">
            保存
        </button>
    </div>
</nz-card>
