<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="turnToAdd()">添加</button>
</ng-template>

<nz-card nzTitle="班次模板列表" [nzExtra]="extraTemplate">
  <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list"
    [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()" (nzPageSizeChange)="updateList(true)"
    [nzShowTotal]="totalTemplate">
    <thead>
      <tr>
        <th class="textCenter">模板名称</th>
        <th class="textCenter">班次详情</th>
        <th class="textCenter">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ajaxTable.data">
        <td class="textCenter">{{data.shift}}</td>
        <td class="textCenter">
          <div *ngFor="let info of data.infos">{{info.name}}: {{info.btime}}~{{info.etime}}</div>
        </td>
        <td class="textCenter">
          <a href="javascript:void(0)" (click)="turnToEdit(data)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a href="javascript:void(0)" (click)="deleteSchedules(data.tag, $event)" class="colorF81D22">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #totalTemplate let-total>共 {{total}} 条</ng-template>
