<e-ngx-print #print [showBtn]="false" [btnClass]="{ btn: true, 'btn-success': true }" [printHTML]="printArea" [printStyle]="printStyle" (printComplete)="printComplete()"></e-ngx-print>
<div #printArea>
    <nz-card>
        <div>
            <table class="w100p cusTable">
                <thead>
                    <tr class="tac">
                        <td class="textCenter paddingAll" style="width: 150px;">姓名</td>
                        <td class="textCenter paddingAll" style="width: 100px;">床位</td>
                        <td class="textCenter paddingAll" style="width: 90px;">日期</td>
                        <td class="textCenter paddingAll" style="width: 40px;">时间</td>
                        <td class="textCenter paddingAll" style="width: 40%">医嘱</td>
                        <td class="textCenter paddingAll" style="width: 70px">医生签名</td>
                        <td class="textCenter paddingAll" style="width: 90px;">执行时间</td>
                        <td class="textCenter paddingAll" style="width: 90px;">执行护士签名</td>
                        <td class="textCenter paddingAll" style="width: 90px;" *ngIf="isShow">操作</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- 已下达列表 -->
                    <tr *ngFor="let data of list;let i=index">
                        <td class="textCenter paddingAll">{{data?.inHospitalInfo?.basicInfo?.name}}</td>
                        <td class="textCenter paddingAll">{{data?.inHospitalInfo?.bedName}}</td>
                        <td class="textCenter paddingAll">{{data?.beginDate}}</td>
                        <td class="textCenter paddingAll">{{data?.beginTime}}</td>
                        <td class="textLeft paddingAll">
                            <div *ngIf="data?.orderType=='2'">
                                <div class="left" [innerHTML]="data?.html | html">
                                </div>
                                <div class="right" [innerHTML]="data?.html1 | html">
                                </div>
                            </div>
                            <span *ngIf="data?.orderType!='2'" class="lettSpan">{{data?.orderSum}}</span>
                        </td>
                        <td class="textCenter paddingAll">{{data?.dorSign}}</td>
                        <td class="textCenter paddingAll">{{data?.operatorTime}}</td>
                        <td class="textCenter paddingAll">{{data?.operatorSign}}</td>
                        <td class="textCenter paddingAll" *ngIf="isShow">
                            <!-- 护士状态 -->
                            <!-- <a href="javascript:void(0)" (click)="sendConfirmed(data)" *ngIf="data.status=='0' && user.data.employees.personType=='2'">待执行</a> -->
                            <a href="javascript:void(0)" (click)="edit('toPerform',data,i)" *ngIf="data.status=='0' && user.data.employees.personType=='2'">待执行</a>
                            <a href="javascript:void(0)" *ngIf="data.status=='1' && user.data.employees.personType=='2'">已执行</a>
                            <!-- 医生状态 -->
                            <a href="javascript:void(0)" *ngIf="data.status=='0' && user.data.employees.personType=='0'">已下达</a>
                            <a href="javascript:void(0)" *ngIf="data.status=='1' && user.data.employees.personType=='0'">已执行</a>
                        </td>
                    </tr>
                    <!-- 未下达列表 -->
                    <tr *ngFor="let data of orderList;let i=index">
                        <td class="textCenter paddingAll" *ngIf="orderListIsVisabled">{{data?.beginDate}}</td>
                        <td class="textCenter paddingAll" *ngIf="orderListIsVisabled">{{data?.beginTime}}</td>
                        <td class="textLeft paddingAll" *ngIf="orderListIsVisabled">
                            <div *ngIf="data?.orderType=='2'">
                                <div class="left" [innerHTML]="data?.html | html">
                                </div>
                                <div class="right" [innerHTML]="data?.html1 | html">
                                </div>
                            </div>
                            <span *ngIf="data?.orderType!='2'" class="lettSpan">{{data?.orderSum}}</span>
                        </td>
                        <td class="textCenter paddingAll" *ngIf="orderListIsVisabled">{{data?.dorSign}}</td>
                        <td class="textCenter paddingAll" *ngIf="orderListIsVisabled">{{data?.operatorTime}}</td>
                        <td class="textCenter paddingAll" *ngIf="orderListIsVisabled">{{data?.operatorSign}}</td>
                        <td class="textCenter paddingAll" *ngIf="isShow && orderListIsVisabled">
                            <!-- 没下达时的状态 -->
                            <a href="javascript:void(0)" (click)="edit('edit',data,i)" roleBtnControll [roleBtnKey]="'editMenuBtn'" *ngIf="data.state=='6'">编辑</a>
                            <nz-divider nzType="vertical" *ngIf="data.state=='6'"></nz-divider>
                            <a href="javascript:void(0)" (click)="delete(i)" style="color:red" roleBtnControll [roleBtnKey]="'DelMenuBtn'" *ngIf="data.state=='6'">删除</a>
                            <nz-divider nzType="vertical" *ngIf="data.state=='6'"></nz-divider>
                            <a href="javascript:void(0)" (click)="edit('smitState',data,i)" roleBtnControll [roleBtnKey]="'levelsMenuBtn'" *ngIf="data.state=='6'">下达</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </nz-card>
</div>



<!-- 新增长期医嘱对话框 -->
<nz-modal [(nzVisible)]="isVisible" [nzOkText]=null nzTitle="新增医嘱" nzWidth="1200" (nzOnCancel)="isVisible=false">
    <div>
        <div class="sickDetails">
            <div class="details">
                <span>姓名：</span><span>{{patientsBasicInfo.name}}</span>
                <span>性别：</span><span> {{ patientsBasicInfo.sex == '0' ? "男" : "女" }} </span>
                <span>年龄：</span><span>{{patientsBasicInfo.age}}岁</span>
                <span>住院号：</span><span>{{patientsBasicInfo.admissionNo}}</span>
                <span>科室：</span><span>{{patientsBasicInfo.sectionOfficeName}}</span>
                <span>床号：</span><span>{{patientsBasicInfo.bedName}}</span>
            </div>
        </div>
        <div style="text-align:center">
            <nz-radio-group [(ngModel)]="tabIndex">
                <label nz-radio-button [nzValue]="'0'" [nzDisabled]="addState=='edit' && tabIndex!='0' || addState=='smitState' && tabIndex!='0' || addState=='toPerform' && tabIndex!='0'">护理医嘱</label>
                <label nz-radio-button [nzValue]="'1'" [nzDisabled]="addState=='edit' && tabIndex!='1' || addState=='smitState' && tabIndex!='1' || addState=='toPerform' && tabIndex!='1'">嘱托医嘱</label>
                <label nz-radio-button [nzValue]=" '2' " [nzDisabled]=" addState=='edit' && tabIndex!='2' || addState=='smitState' && tabIndex!='2' || addState=='toPerform' && tabIndex!='2'">西药医嘱</label>
                <label nz-radio-button [nzValue]="'3'" [nzDisabled]="addState=='edit' && tabIndex!='3' || addState=='smitState' && tabIndex!='3' || addState=='toPerform' && tabIndex!='3'">诊疗医嘱</label>
                <label nz-radio-button [nzValue]=" '4' " [nzDisabled]=" addState=='edit' && tabIndex!='4' || addState=='smitState' && tabIndex!='4' || addState=='toPerform' && tabIndex!='4'">特殊医嘱</label>
            </nz-radio-group>
        </div>

        <!-- 护理医嘱 -->
        <div nz-row [nzGutter]="24" *ngIf="tabIndex== '0' " class="marginTop">
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">护理常规</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="nursObj.routine" (ngModelChange)="changRoutineName('0')" [nzDisabled]="disabled">
                            <nz-option *ngFor="let option of nursingRoutineList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">护理级别</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select nzAllowClear style="width: 100%;" [(ngModel)]="nursObj.level" nzPlaceHolder="请选择" name="careLevelCase" id="careLevelCase" (ngModelChange)="changRoutineName('1')">
                            <nz-option *ngFor="let option of nursingList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">病危或并重通知</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="nursObj.terminally" (ngModelChange)="changRoutineName('2')" [nzDisabled]="disabled">
                            <nz-option *ngFor="let option of notificationList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">隔离种类</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="nursObj.isolationType" (ngModelChange)="changRoutineName('3')" [nzDisabled]="disabled">
                            <nz-option *ngFor="let option of isolationList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">饮食种类</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="nursObj.foodType" (ngModelChange)="changRoutineName('4')" [nzDisabled]="disabled">
                            <nz-option *ngFor="let option of foodTypeList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">体位要求</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="nursObj.requires" (ngModelChange)="changRoutineName('5')" [nzDisabled]="disabled">
                            <nz-option *ngFor="let option of positionRequiresList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">特殊检查和治疗 </nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="nursObj.treatments" (ngModelChange)="changRoutineName('6')" [nzDisabled]="disabled">
                            <nz-option *ngFor="let option of examinationsList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="12">
                <nz-form-item>
                    <nz-form-label [nzSpan]="8">是否留陪</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <label nz-radio [(ngModel)]="nursObj.isAccompany" [nzDisabled]="disabled" (click)="getIsAccompany()">需要</label>
                        <nz-input-number [(ngModel)]="nursObj.peopleNum" [nzMin]="1" [nzStep]="1" [nzDisabled]="disabled"></nz-input-number>人
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">其他</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <textarea rows="8" nz-input [(ngModel)]="nursObj.other" placeholder="请输入嘱托医嘱内容" [readonly]="disabled"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="text-align:center;margin-top: 30px;">
                <button class="saveBtn" style="margin-top: 30px;" *ngIf="addState=='add' || addState=='edit'" [nzLoading]="sureLoading" nz-button nzType="primary" nzSize="large" (click)="saveWesternMedicine()">
                    确定
                </button>

                <button class="saveBtn" style="margin-top: 30px;" *ngIf="addState=='smitState'" [nzLoading]="sureLoading" nz-button nzType="primary" nzSize="large" (click)="confirmOrder()">
                    确认下达
                </button>
                <button class="saveBtn" style="margin-top: 30px;" *ngIf="addState=='toPerform'" nz-button [nzLoading]="sureLoading" nzType="primary" nzSize="large" (click)=" sendConfirmed()">
                    待执行
                </button>

            </div>
        </div>



        <!-- 嘱托医嘱 -->
        <div nz-row [nzGutter]="24" *ngIf="tabIndex== '1' " class="marginTop">
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-control [nzSpan]="24">
                        <textarea rows="8" nz-input [(ngModel)]="asksObj.saveAsks" placeholder="请输入嘱托医嘱内容" [readonly]="disabled"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="text-align:center;margin-top: 30px;">
                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='add' || addState=='edit'" nz-button nzType="primary" nzSize="large" (click)="saveWesternMedicine()">
                    确定
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='smitState'" nz-button nzType="primary" nzSize="large" (click)="confirmOrder()">
                    确认下达
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='toPerform'" nz-button nzType="primary" nzSize="large" (click)=" sendConfirmed()">
                    待执行
                </button>
            </div>
        </div>


        <ng-template #extraTemplate1>
            <button nz-button nzType="dashed" (click)="addField($event)" *ngIf="addState=='add' || addState=='edit'">
                <i class="anticon anticon-plus"></i> 添加药品</button>
        </ng-template>
        <!-- 西药医嘱 -->
        <div nz-row [nzGutter]="24" *ngIf="tabIndex== '2' " class="marginTop">
            <nz-card nzType="inner" [nzExtra]="extraTemplate1">
                <table #basicTable>
                    <tbody>
                        <tr *ngFor="let data of westernMedicine.drugList;let i=index">
                            <td style="width:25%">
                                药品名称：<input nz-input style="float:rigth;width:70%" [(ngModel)]="data.name" *ngIf="addState=='add' || addState=='edit'" readonly (click)="changeDrug(i)">

                                <input nz-input style="float:rigth;width:70%" [(ngModel)]="data.name" readonly *ngIf="addState=='smitState'">
                                <input nz-input style="float:rigth;width:70%" [(ngModel)]="data.name" readonly *ngIf="addState=='toPerform'">
                            </td>
                            <!-- <td style="width:15%">
                                规格：<input nz-input style="float:rigth;width:68%" [(ngModel)]="data.specification" readonly>
                            </td> -->
                            <td style="width:10%">
                                剂量：
                                <nz-input-number style="float:rigth;width:57%" [(ngModel)]="data.dosage" [nzDisabled]="disabled" [nzMin]="1" [nzStep]="1"></nz-input-number>
                                {{data.unitName}}
                            </td>
                            <!-- <td style="width:12%">
                                单位：
                                <nz-select style="float:rigth;width:60%" nzPlaceHolder="请选择" [(ngModel)]="data.unit" (ngModelChange)="changUnitName(i)" nzDisabled>
                                    <nz-option *ngFor="let option of unitList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                    </nz-option>
                                </nz-select>
                            </td> -->
                            <td style="width:10%">
                                总数：
                                <nz-input-number style="float:rigth;width:56%" [(ngModel)]="data.bigUnitNum" [nzDisabled]="disabled" [nzMin]="1" [nzStep]="1"></nz-input-number>
                                {{data.bigUnitName}}
                            </td>
                            <!-- <td style="width:20%">
                                单位：
                                <nz-select style="float:rigth;width:60%" nzPlaceHolder="请选择" [(ngModel)]="data.bigUnit" (ngModelChange)="changUnitName(i)" nzDisabled>
                                    <nz-option *ngFor="let option of unitList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                    </nz-option>
                                </nz-select>
                            </td> -->
                            <td style="width:38%">
                                用法：
                                <nz-select style="width: 26%;" nzPlaceHolder="请选择" [(ngModel)]="data.medUsage" (ngModelChange)="changUsageName(i)" [nzDisabled]="disabled">
                                    <nz-option *ngFor="let option of usageList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                    </nz-option>
                                </nz-select>
                                <nz-select style="width: 63%;" [nzDisabled]="disabled" nzMode="multiple" nzPlaceHolder="请选择" [(ngModel)]="data.takeFrequency" (ngModelChange)="changFrequencyName(i)">
                                    <nz-option *ngFor="let option of frequencyList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                    </nz-option>
                                </nz-select>
                            </td>
                            <td style="width:14%">
                                用药频次：
                                <nz-select style="width: 52%;" [nzDisabled]="disabled" nzPlaceHolder="请选择" [(ngModel)]="data.medFrequency" (ngModelChange)="changDrugFrequency(i)">
                                    <nz-option *ngFor="let option of drugFrequencyList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                    </nz-option>
                                </nz-select>
                            </td>
                            <td style="width:15%" *ngIf="!disabled">
                                <a href="javascript:void(0)" (click)="deleteDrug(i)" *ngIf="!disabled" style="color: #f81d22 !important;">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </nz-card>

            <div class="marginTop" style="width:100%;height:2px;background: #efefef"></div>
            <div nz-row [nzGutter]="24" class="marginTop">
                <!-- <div nz-col [nzSpan]="12" class="marginTop">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8">用法</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                            <nz-select style="width: 50%;" nzPlaceHolder="请选择" [(ngModel)]="westernMedicine.medUsage" (ngModelChange)="changUsageName()" [nzDisabled]="disabled">
                                <nz-option *ngFor="let option of usageList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                </nz-option>
                            </nz-select>
                            <nz-select style="width: 50%;" [nzDisabled]="disabled" nzMode="multiple" nzPlaceHolder="请选择" [(ngModel)]="westernMedicine.takeFrequency" (ngModelChange)="changFrequencyName()">
                                <nz-option *ngFor="let option of frequencyList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col [nzSpan]="12" class="marginTop">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="8">用药频次</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                            <nz-select style="width: 100%;" [nzDisabled]="disabled" nzPlaceHolder="请选择" [(ngModel)]="westernMedicine.medFrequency" (ngModelChange)="changDrugFrequency()">
                                <nz-option *ngFor="let option of drugFrequencyList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div> -->

                <div nz-col [nzSpan]="24" class="marginTop">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="4">其他</nz-form-label>
                        <nz-form-control [nzSpan]="20">
                            <textarea rows="8" nz-input [(ngModel)]="westernMedicine.other" [readonly]="disabled"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div style="text-align:center;margin-top: 30px;">
                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='add' || addState=='edit'" nz-button nzType="primary" nzSize="large" (click)="saveWesternMedicine()">
                    确定
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='smitState'" nz-button nzType="primary" nzSize="large" (click)="confirmOrder()">
                    确认下达
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='toPerform'" nz-button nzType="primary" nzSize="large" (click)=" sendConfirmed()">
                    待执行
                </button>
            </div>
        </div>


        <!-- 诊疗医嘱 -->
        <div nz-row [nzGutter]="24" *ngIf="tabIndex== '3' " class="marginTop">
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">项目</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <nz-select nzMode="tags" style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="diagnosisObj.item" [nzDisabled]="disabled" (ngModelChange)="changItemName()">

                            <nz-option *ngFor="let option of itemList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24" class="marginTop">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">其他</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <textarea rows="8" nz-input [(ngModel)]="diagnosisObj.other" [readonly]="disabled" placeholder="请输入"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="text-align:center;margin-top: 30px;">
                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='add' || addState=='edit'" nz-button nzType="primary" nzSize="large" (click)="saveWesternMedicine()">
                    确定
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='smitState'" nz-button nzType="primary" nzSize="large" (click)="confirmOrder()">
                    确认下达
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='toPerform'" nz-button nzType="primary" nzSize="large" (click)=" sendConfirmed()">
                    待执行
                </button>
            </div>
        </div>

        <!-- 特殊医嘱 -->
        <div nz-row [nzGutter]="24" *ngIf="tabIndex== '4' " class="marginTop">
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">项目</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="specialObj.specialItem" [nzDisabled]="disabled" (ngModelChange)="changSpecialItemName()">
                            <nz-option *ngFor="let option of specialList" [nzLabel]="option.dictTag" [nzValue]="option.dictValue">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="24">
                <nz-form-item>
                    <nz-form-label [nzSpan]="4">其他</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <textarea rows="8" nz-input placeholder="请输入" [(ngModel)]="specialObj.other" [readonly]="disabled"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="text-align:center;margin-top: 30px;">
                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='add' || addState=='edit'" nz-button nzType="primary" nzSize="large" (click)="saveWesternMedicine()">
                    确定
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='smitState'" nz-button nzType="primary" nzSize="large" (click)="confirmOrder()">
                    确认下达
                </button>

                <button class="saveBtn" style="margin-top: 30px;" [nzLoading]="sureLoading" *ngIf="addState=='toPerform'" nz-button nzType="primary" nzSize="large" (click)=" sendConfirmed()">
                    待执行
                </button>
            </div>
        </div>
    </div>
</nz-modal>



<nz-modal [(nzVisible)]="isShowDrug" nzTitle="请选择药房" nzWidth="400" (nzOnCancel)="isShowDrug=false" (nzOnOk)="changeMedRoom()">

    <nz-form-item>
        <nz-form-label [nzSpan]="4">药房</nz-form-label>
        <nz-form-control [nzSpan]="20">
            <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="drugObj.medRoomId" (ngModelChange)="changSpecialItemName()">
                <nz-option *ngFor="let item of medRoomList" [nzLabel]="item.medRoomName" [nzValue]="item.id">
                </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</nz-modal>

<nz-modal [(nzVisible)]="isShowOldDialog" [nzOkText]=null nzTitle="药品列表" nzWidth="900" (nzOnCancel)="isShowOldDialog=false">
    <!-- <div nz-col [nzSpan]="10">
        <nz-form-item>
            <nz-form-label [nzSpan]="4">药房</nz-form-label>
            <nz-form-control [nzSpan]="20">
                <nz-select style="width: 100%;" nzPlaceHolder="请选择" [(ngModel)]="drugObj.medRoomId" (ngModelChange)="changSpecialItemName()">
                    <nz-option *ngFor="let item of medRoomList" [nzLabel]="item.medRoomName" [nzValue]="item.id">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </div> -->
    <div nz-col [nzSpan]="10">
        <nz-form-item>
            <nz-form-label [nzSpan]="4">药名</nz-form-label>
            <nz-form-control [nzSpan]="20">
                <input nz-input placeholder="按药品名称检索" [(ngModel)]="drugObj.search">
            </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" (click)="getDrugAllList()" style="margin-left:10px;">
                    查询
                </button>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div style="margin-top: 50px;">
        <nz-table #drupInfo [nzData]="drugAllList" [nzShowPagination]="true" [nzBordered]="'true'" [nzSize]="'middle'" [nzLoading]="isDrugTableLoading" [nzTotal]="drugPage.total" [(nzPageIndex)]="drugObj.page" [(nzPageSize)]="drugPage.size" (nzPageIndexChange)="getDrugAllList()" (nzPageSizeChange)="getDrugAllList(true)" [nzShowSizeChanger]="false" [nzFrontPagination]="false">
            <thead>
                <tr>
                    <th>药品名称</th>
                    <th>通用名</th>
                    <th>规格</th>
                    <th>类型</th>
                    <th>库存</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of drupInfo.data" (click)="chooseDrug(data)">
                    <td>{{data?.medDrug?.drugName}}</td>
                    <td>{{data?.medDrug?.commonName}}</td>
                    <td>{{data?.medDrug?.specification}}</td>
                    <td>{{data?.medDrug?.drugType}}</td>
                    <td>{{data?.quantity}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</nz-modal>
