:host /deep/ .ant-calendar-picker {
  width: 100%;
}

.marginBottom24 {
  margin-bottom: 24px;
}

.textRight {
  text-align: right
}

:host /deep/ label {
  margin-bottom: 0;
}

.dib {
  display: inline-block;
}

.width100 {
  width: 100% !important;
}
.inputw{
  width: 30%;
  margin-left: 10px;
}