td, th {
  text-align: center !important;
}

.red {
  color: #f81d22 !important;
}
nz-form-item {
  margin-bottom: 0px;
}

.ant-select-selection--single {
  height: 32px;
  position: relative;
  cursor: pointer;
}
.fireArea{
  width: 40%;
  display: inline-block;
}
.fireAreaM{
  margin-left: 10%
}
.labelStyle{
  margin-right: 10px
}
.checkboxCheck label{
  width: 65px !important
}
.ant-modal-body{
  padding-bottom: 10px !important;
}
.ant-modal-wrap .ant-modal{
  width: 700px !important;
}
.xuncWInput{
  width: 70%;
  margin-left: 10px;
}
.emergencyExitInput{
  width: 70%;
  border: 0;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.detailFireln{
  padding: 5px 3px;
  border-bottom: 1px solid #bfbfbf;
}

table{
  border:1px solid #ccc;
  width: 100%;
}
table tbody tr{
  width: 100%;
}
table tbody tr td{
  padding: 10px 5px;
  border: 1px solid #efefef;
}

table thead tr th{
  background:#fafafa;
  padding:16px;
  border: 1px solid #e8e8e8;
  color: rgba(0,0,0,.85);
  font-weight: 500;
}