<!-- 表格查询条件Begin -->
<ng-template #serchArea>
    <div nz-row [nzGutter]="8">
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="name">字典名称</nz-form-label>
                <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                    <input nz-input name="name" [(ngModel)]="reqObj.dictName" id="name" placeholder="请输入字典名称">
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="dictionaryType">字典类型</nz-form-label>
                <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
                    <input nz-input [(ngModel)]="reqObj.dictType" name="dictionaryType" id="dictionaryType" placeholder="请输入字典类型">
                </nz-form-control>
            </nz-form-item>
        </div>
        <!-- <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="dictionaryStates">系统字典</nz-form-label>
        <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
          <nz-select class="w100p"  [(ngModel)]="reqObj.sysDictFlag" nzAllowClear nzPlaceHolder="请选择" name="dictionaryStates" id="dictionaryStates">
            <nz-option nzValue="true" nzLabel="是"></nz-option>
            <nz-option nzValue="false" nzLabel="否"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8" [nzXl]="6" [nzXXl]="4">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" [nzXs]="5" [nzSm]="4" [nzMd]="10" [nzLg]="9" [nzXl]="8" [nzXXl]="8" nzFor="dictionaryStates">状态</nz-form-label>
        <nz-form-control [nzXs]="18" [nzSm]="20" [nzMd]="14" [nzLg]="15" [nzXl]="16" [nzXXl]="16">
          <nz-select class="w100p"  [(ngModel)]="reqObj.status" nzAllowClear nzPlaceHolder="请选择" name="dictionaryStates" id="dictionaryStates">
            <nz-option nzValue="1" nzLabel="正常"></nz-option>
            <nz-option nzValue="0" nzLabel="停用"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div> -->
        <div nz-col [nzSm]="4" [nzMd]="4" [nzLg]="2" [nzXl]="2" [nzXXl]="2">
            <nz-form-item>
                <nz-form-control>
                    <button nz-button nzType="primary" (click)="updateList(true)">查询</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</ng-template>
<!-- 表格查询条件End -->

<nz-card nzTitle="字典管理列表" [nzExtra]="extraTemplate">
    <nz-table #ajaxTable nzBordered nzShowSizeChanger [nzTitle]="serchArea" [nzFrontPagination]="false" [nzLoading]="isTableLoading" [nzData]="list" [nzTotal]="page.total" [(nzPageIndex)]="page.index" [(nzPageSize)]="page.size" (nzPageIndexChange)="updateList()"
        (nzPageSizeChange)="updateList(true)" [nzShowTotal]="totalTemplate">
        <thead>
            <tr>
                <th class="textCenter">字典名称</th>
                <th class="textCenter">字典类型</th>
                <!-- <th class="textCenter">系统字典</th> -->
                <th class="textCenter">更新时间</th>
                <th class="textCenter">备注</th>
                <!-- <th class="textCenter">状态</th> -->
                <!-- <th class="textCenter">操作</th> -->
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of ajaxTable.data">
                <td class="textCenter">
                    <a href="#" (click)="turnToEdit(data.id,$event)">{{data.dictName}}</a>
                </td>
                <td class="textCenter">{{data.dictType}}</td>
                <!-- <td class="textCenter">
            <span *ngIf="data.sysDictFlag==false">否</span>
            <span *ngIf="data.sysDictFlag==true">是</span>
          </td> -->
                <td class="textCenter">{{data.updateDate}}</td>
                <td class="textCenter">{{data.comment}}</td>
                <!-- <td class="textCenter">
              <span *ngIf="data.status==1">正常</span>
              <span *ngIf="data.status==0">停用</span>
          </td> -->
                <!-- <td class="textCenter">
              <a href="#" (click)="turnToAdd(data,$event)">编辑</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a href="#" (click)="forbidden(data.id, $event)">禁用</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a href="#" (click)="delete(data.id, $event)" class="red">删除</a>
          </td> -->
            </tr>
        </tbody>
    </nz-table>
</nz-card>
<ng-template #extraTemplate>
    <button nz-button nzType="primary" (click)="turnToAdd('')">添加</button>
</ng-template>
<ng-template #totalTemplate let-total>共{{total}}条</ng-template>
